<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
                
    <ui:define name="title">Address</ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <!-- This is used to as display name on the lookups.xhtml -->
					<!--  <displayName>Address</displayName> -->
					<h3 class="box-title"><i class="fa fa-th"></i> Address</h3>
					<h:form id="mainForm">
						<p:fieldset>
							<br/>
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
								  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="oneLineAddress" value="#{addressUI.address.oneLineAddress}"  style="width:100%" required="true" requiredMessage="Please enter oneLineAddress"/>
															 <p:outputLabel value="One Line Address" for="oneLineAddress" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="gisLongitude" value="#{addressUI.address.gisLongitude}"  style="width:100%" required="true" requiredMessage="Please enter gisLongitude"/>
															 <p:outputLabel value="Gis Longitude" for="gisLongitude" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="gisLatitude" value="#{addressUI.address.gisLatitude}"  style="width:100%" required="true" requiredMessage="Please enter gisLatitude"/>
															 <p:outputLabel value="Gis Latitude" for="gisLatitude" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="addressLine2" value="#{addressUI.address.addressLine2}"  style="width:100%" required="true" requiredMessage="Please enter addressLine2"/>
															 <p:outputLabel value="Address Line2" for="addressLine2" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="gisSource" value="#{addressUI.address.gisSource}"  style="width:100%" required="true" requiredMessage="Please enter gisSource"/>
															 <p:outputLabel value="Gis Source" for="gisSource" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="postAddress" value="#{addressUI.address.postAddress}"  style="width:100%" required="true" requiredMessage="Please enter postAddress"/>
															 <p:outputLabel value="Post Address" for="postAddress" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="addressLine1" value="#{addressUI.address.addressLine1}"  style="width:100%" required="true" requiredMessage="Please enter addressLine1"/>
															 <p:outputLabel value="Address Line1" for="addressLine1" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="addressLine3" value="#{addressUI.address.addressLine3}"  style="width:100%" required="true" requiredMessage="Please enter addressLine3"/>
															 <p:outputLabel value="Address Line3" for="addressLine3" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="addressLine4" value="#{addressUI.address.addressLine4}"  style="width:100%" required="true" requiredMessage="Please enter addressLine4"/>
															 <p:outputLabel value="Address Line4" for="addressLine4" />
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="postCode" value="#{addressUI.address.postCode}"  style="width:100%" required="true" requiredMessage="Please enter postCode"/>
															 <p:outputLabel value="Post Code" for="postCode" />
														</h:panelGroup>


							 </p:panelGrid>
							 <br/>
						 </p:fieldset>
						 <h:panelGroup styleClass="md-inputfield">
						      <br/>
	                          <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{addressUI.saveAddress}"/>
                 		      <p:spacer width="10"/>
                 			  <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn" update="@form" actionListener="#{addressUI.reset}"/>
                		</h:panelGroup>
					 </h:form>
                </div>
                <div class="card">
                	 <h:form id="tableForm">
                	 	<p:dataTable  var="var" value="#{addressUI.dataModel}" id="addressList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
								    <f:facet name="header">
								           <h:outputText value="Address List" />
								    </f:facet>
								   									<p:column headerText="One Line Address"  sortBy="#{var.oneLineAddress}" filterBy="#{var.oneLineAddress}">
									    <h:outputText value="#{var.oneLineAddress}"/>
									 </p:column>

									<p:column headerText="Gis Longitude"  sortBy="#{var.gisLongitude}" filterBy="#{var.gisLongitude}">
									    <h:outputText value="#{var.gisLongitude}"/>
									 </p:column>

									<p:column headerText="Gis Latitude"  sortBy="#{var.gisLatitude}" filterBy="#{var.gisLatitude}">
									    <h:outputText value="#{var.gisLatitude}"/>
									 </p:column>

									<p:column headerText="Address Line2"  sortBy="#{var.addressLine2}" filterBy="#{var.addressLine2}">
									    <h:outputText value="#{var.addressLine2}"/>
									 </p:column>

									<p:column headerText="Gis Source"  sortBy="#{var.gisSource}" filterBy="#{var.gisSource}">
									    <h:outputText value="#{var.gisSource}"/>
									 </p:column>

									<p:column headerText="Post Address"  sortBy="#{var.postAddress}" filterBy="#{var.postAddress}">
									    <h:outputText value="#{var.postAddress}"/>
									 </p:column>

									<p:column headerText="Address Line1"  sortBy="#{var.addressLine1}" filterBy="#{var.addressLine1}">
									    <h:outputText value="#{var.addressLine1}"/>
									 </p:column>

									<p:column headerText="Address Line3"  sortBy="#{var.addressLine3}" filterBy="#{var.addressLine3}">
									    <h:outputText value="#{var.addressLine3}"/>
									 </p:column>

									<p:column headerText="Address Line4"  sortBy="#{var.addressLine4}" filterBy="#{var.addressLine4}">
									    <h:outputText value="#{var.addressLine4}"/>
									 </p:column>

									<p:column headerText="Post Code"  sortBy="#{var.postCode}" filterBy="#{var.postCode}">
									    <h:outputText value="#{var.postCode}"/>
									 </p:column>


								    <p:column headerText="Last Update Date"  sortBy="#{var.lastUpdateDate}">
								        <h:outputText value="#{var.lastUpdateDate}">
								        	<f:convertDateTime pattern="dd MMM yyyy" />
								        </h:outputText>
								         <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
								    </p:column>
								    
								    <p:column headerText="Last Update User"  sortBy="#{var.lastUpdateUser}">
								        <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
								        <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
								    </p:column>
								    
								    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
								        <h:outputText value="#{var.createDate}">
								        	<f:convertDateTime pattern="dd MMM yyyy" />
								        </h:outputText>
								    </p:column>

								    <p:column width="90">
										<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
											<f:setPropertyActionListener value="#{var}" target="#{addressUI.address}" />
										</p:commandButton>
										<p:spacer width="5" />
										<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block orange-btn btn-xs" update="mainForm tableForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{addressUI.deleteAddress}">
											<p:confirm header="Confirm" message="Are you sure you want to delete this address?" icon="ui-icon-warning" />
											<f:setPropertyActionListener value="#{var}" target="#{addressUI.address}" />
										</p:commandButton>
									</p:column>
							</p:dataTable>
                	 </h:form>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>
