<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>DocByte</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> DocByte</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									              
									              	  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="fileName" for="fileName" />
														    <p:inputText  id="fileName" value="#{docByteUI.docByte.fileName}"  style="width:100%" required="true" requiredMessage="Please enter fileName"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="contentType" for="contentType" />
														    <p:inputText  id="contentType" value="#{docByteUI.docByte.contentType}"  style="width:100%" required="true" requiredMessage="Please enter contentType"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="targetKey" for="targetKey" />
														    <p:inputText  id="targetKey" value="#{docByteUI.docByte.targetKey}"  style="width:100%" required="true" requiredMessage="Please enter targetKey"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="byteData" for="byteData" />
														    <p:inputText  id="byteData" value="#{docByteUI.docByte.byteData}"  style="width:100%" required="true" requiredMessage="Please enter byteData"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="targetClass" for="targetClass" />
														    <p:inputText  id="targetClass" value="#{docByteUI.docByte.targetClass}"  style="width:100%" required="true" requiredMessage="Please enter targetClass"/>
														</h:panelGroup>


								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{docByteUI.saveDocByte}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn orange-btn" update="@form" actionListener="#{docByteUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    
								    	<p:dataTable  var="var" value="#{docByteUI.dataModel}" id="docByteList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
										paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
										    
										    <f:facet name="header">
										           <h:outputText value="DocByte List" />
										    </f:facet>
										    
										    											<p:column headerText="fileName"  sortBy="#{var.fileName}" filterBy="#{var.fileName}">
											    <h:outputText value="#{var.fileName}"/>
											 </p:column>

 											<p:column headerText="contentType"  sortBy="#{var.contentType}" filterBy="#{var.contentType}">
											    <h:outputText value="#{var.contentType}"/>
											 </p:column>

 											<p:column headerText="targetKey"  sortBy="#{var.targetKey}" filterBy="#{var.targetKey}">
											    <h:outputText value="#{var.targetKey}"/>
											 </p:column>

 											<p:column headerText="byteData"  sortBy="#{var.byteData}" filterBy="#{var.byteData}">
											    <h:outputText value="#{var.byteData}"/>
											 </p:column>

 											<p:column headerText="targetClass"  sortBy="#{var.targetClass}" filterBy="#{var.targetClass}">
											    <h:outputText value="#{var.targetClass}"/>
											 </p:column>


										    
										     <p:column headerText="Last Update Date"  sortBy="#{var.lastUpdateDate}">
										        <h:outputText value="#{var.lastUpdateDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										         <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
										    </p:column>
										   
										    <p:column headerText="Last Update User"  sortBy="#{var.lastUpdateUser}">
										        <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
										        <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
										    </p:column>
										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{docByteUI.docByte}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block orange-btn btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{docByteUI.deleteDocByte}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this docByte?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{docByteUI.docByte}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
