<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>MailLog</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> MailLog</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									              
									              	  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="subject" for="subject" />
														    <p:inputText  id="subject" value="#{mailLogUI.mailLog.subject}"  style="width:100%" required="true" requiredMessage="Please enter subject"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="ccEmails" for="ccEmails" />
														    <p:inputText  id="ccEmails" value="#{mailLogUI.mailLog.ccEmails}"  style="width:100%" required="true" requiredMessage="Please enter ccEmails"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="contentMssg" for="contentMssg" />
														    <p:inputText  id="contentMssg" value="#{mailLogUI.mailLog.contentMssg}"  style="width:100%" required="true" requiredMessage="Please enter contentMssg"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="fromEmail" for="fromEmail" />
														    <p:inputText  id="fromEmail" value="#{mailLogUI.mailLog.fromEmail}"  style="width:100%" required="true" requiredMessage="Please enter fromEmail"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="toEmail" for="toEmail" />
														    <p:inputText  id="toEmail" value="#{mailLogUI.mailLog.toEmail}"  style="width:100%" required="true" requiredMessage="Please enter toEmail"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="errorMessage" for="errorMessage" />
														    <p:inputText  id="errorMessage" value="#{mailLogUI.mailLog.errorMessage}"  style="width:100%" required="true" requiredMessage="Please enter errorMessage"/>
														</h:panelGroup>


								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{mailLogUI.saveMailLog}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn orange-btn" update="@form" actionListener="#{mailLogUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    
								    	<p:dataTable  var="var" value="#{mailLogUI.dataModel}" id="mailLogList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
										paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
										    
										    <f:facet name="header">
										           <h:outputText value="MailLog List" />
										    </f:facet>
										    
										    											<p:column headerText="subject"  sortBy="#{var.subject}" filterBy="#{var.subject}">
											    <h:outputText value="#{var.subject}"/>
											 </p:column>

 											<p:column headerText="ccEmails"  sortBy="#{var.ccEmails}" filterBy="#{var.ccEmails}">
											    <h:outputText value="#{var.ccEmails}"/>
											 </p:column>

 											<p:column headerText="contentMssg"  sortBy="#{var.contentMssg}" filterBy="#{var.contentMssg}">
											    <h:outputText value="#{var.contentMssg}"/>
											 </p:column>

 											<p:column headerText="fromEmail"  sortBy="#{var.fromEmail}" filterBy="#{var.fromEmail}">
											    <h:outputText value="#{var.fromEmail}"/>
											 </p:column>

 											<p:column headerText="toEmail"  sortBy="#{var.toEmail}" filterBy="#{var.toEmail}">
											    <h:outputText value="#{var.toEmail}"/>
											 </p:column>

 											<p:column headerText="errorMessage"  sortBy="#{var.errorMessage}" filterBy="#{var.errorMessage}">
											    <h:outputText value="#{var.errorMessage}"/>
											 </p:column>


										    
										     <p:column headerText="Last Update Date"  sortBy="#{var.lastUpdateDate}">
										        <h:outputText value="#{var.lastUpdateDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										         <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
										    </p:column>
										   
										    <p:column headerText="Last Update User"  sortBy="#{var.lastUpdateUser}">
										        <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
										        <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
										    </p:column>
										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{mailLogUI.mailLog}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block orange-btn btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{mailLogUI.deleteMailLog}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this mailLog?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{mailLogUI.mailLog}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
