<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
                
    <ui:define name="title">Test Jonh</ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <!-- This is used to as display name on the lookups.xhtml -->
					<!--  <displayName>Test Jonh</displayName> -->
					<h3 class="box-title"><i class="fa fa-th"></i> Test Jonh</h3>
					<h:form id="mainForm">
						<p:fieldset>
							<br/>
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
								  														<h:panelGroup styleClass="md-inputfield">
														     <p:inputText  id="name" value="#{testJonhUI.testJonh.name}"  style="width:100%" required="true" requiredMessage="Please enter name"/>
															 <p:outputLabel value="Name" for="name" />
														</h:panelGroup>

  														<h:panelGroup>
														      <p:outputLabel value="Gender" for="genderLookup" />
                        									  <p:autoComplete inputStyle="width:100%" style="width:100%" var="var" itemLabel="#{var.description}" itemValue="#{var}" id="genderLookup" value="#{testJonhUI.testJonh.genderLookup}" completeMethod="#{commonItemUI.autoCompleteGender}"  converter="#{genderConvertor}" forceSelection="true"/>
                                                        </h:panelGroup>

  														 <h:panelGroup  >
	  														 <p:outputLabel value="Select Inst Status" for="genderLookup" />
																<p:selectOneMenu style="width:100%" value="#{testJonhUI.testJonh.instStatusEnum}" required="true" requiredMessage="Please Select Inst Status">
																	<p:ajax />
																	<f:selectItem itemLabel=""  noSelectionOption="true" />
																	<f:selectItems value="#{commonItemUI.instStatusEnumDD}" var="rv" itemLabel="#{rv.displayName}" itemValue="#{rv}" />
															</p:selectOneMenu>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
	                                                        <p:calendar inputStyle="width:50%" id="registrationDate" value="#{testJonhUI.testJonh.registrationDate}" showOn="button" required="true" requiredMessage="Please enter Registration Date" navigator="true" pattern="#{commonUI.DATE_FORMAT}">
	                                                        	<p:ajax  event = "dateSelect" update="@form"/>
	                                                        </p:calendar>
	                                                        <p:outputLabel class="box-title" value="Registration Date" for="registrationDate" />
                                                        </h:panelGroup>


							 </p:panelGrid>
							 <br/>
						 </p:fieldset>
						 <h:panelGroup styleClass="md-inputfield">
						      <br/>
	                          <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{testJonhUI.saveTestJonh}"/>
                 		      <p:spacer width="10"/>
                 			  <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn" update="@form" actionListener="#{testJonhUI.reset}"/>
                		</h:panelGroup>
					 </h:form>
                </div>
                <div class="card">
                	 <h:form id="tableForm">
                	 	<p:dataTable  var="var" value="#{testJonhUI.dataModel}" id="testJonhList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
								    <f:facet name="header">
								           <h:outputText value="Test Jonh List" />
								    </f:facet>
								   									<p:column headerText="Name"  sortBy="#{var.name}" filterBy="#{var.name}">
									    <h:outputText value="#{var.name}"/>
									 </p:column>

									<p:column headerText="Gender"  sortBy="#{var.genderLookup}" filterBy="#{var.genderLookup}">
									    <h:outputText value="#{var.genderLookup}"/>
									 </p:column>

									<p:column headerText="Inst Status"  sortBy="#{var.instStatusEnum}" filterBy="#{var.instStatusEnum}">
									    <h:outputText value="#{var.instStatusEnum}"/>
									 </p:column>

									<p:column headerText="Registration Date"  sortBy="#{var.registrationDate}" filterBy="#{var.registrationDate}">
									    <h:outputText value="#{var.registrationDate}"/>
									 </p:column>


								    <p:column headerText="Last Update Date"  sortBy="#{var.lastUpdateDate}">
								        <h:outputText value="#{var.lastUpdateDate}">
								        	<f:convertDateTime pattern="dd MMM yyyy" />
								        </h:outputText>
								         <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
								    </p:column>
								    
								    <p:column headerText="Last Update User"  sortBy="#{var.lastUpdateUser}">
								        <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
								        <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
								    </p:column>
								    
								    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
								        <h:outputText value="#{var.createDate}">
								        	<f:convertDateTime pattern="dd MMM yyyy" />
								        </h:outputText>
								    </p:column>

								    <p:column width="90">
										<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
											<f:setPropertyActionListener value="#{var}" target="#{testJonhUI.testJonh}" />
										</p:commandButton>
										<p:spacer width="5" />
										<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block orange-btn btn-xs" update="mainForm tableForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{testJonhUI.deleteTestJonh}">
											<p:confirm header="Confirm" message="Are you sure you want to delete this testJonh?" icon="ui-icon-warning" />
											<f:setPropertyActionListener value="#{var}" target="#{testJonhUI.testJonh}" />
										</p:commandButton>
									</p:column>
							</p:dataTable>
                	 </h:form>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>
