<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								
								<!-- This is used to as display name on the lookups.xhtml -->
								<!--  <displayName>UserBrowserInfo</displayName> -->
								 <h3 class="box-title"><i class="fa fa-th"></i> UserBrowserInfo</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   		<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									              
									              	  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="callingMethod" for="callingMethod" />
														    <p:inputText  id="callingMethod" value="#{userBrowserInfoUI.userBrowserInfo.callingMethod}"  style="width:100%" required="true" requiredMessage="Please enter callingMethod"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="user" for="user" />
														    <p:inputText  id="user" value="#{userBrowserInfoUI.userBrowserInfo.user}"  style="width:100%" required="true" requiredMessage="Please enter user"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="browserName" for="browserName" />
														    <p:inputText  id="browserName" value="#{userBrowserInfoUI.userBrowserInfo.browserName}"  style="width:100%" required="true" requiredMessage="Please enter browserName"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="referer" for="referer" />
														    <p:inputText  id="referer" value="#{userBrowserInfoUI.userBrowserInfo.referer}"  style="width:100%" required="true" requiredMessage="Please enter referer"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="fullURL" for="fullURL" />
														    <p:inputText  id="fullURL" value="#{userBrowserInfoUI.userBrowserInfo.fullURL}"  style="width:100%" required="true" requiredMessage="Please enter fullURL"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="userAgent" for="userAgent" />
														    <p:inputText  id="userAgent" value="#{userBrowserInfoUI.userBrowserInfo.userAgent}"  style="width:100%" required="true" requiredMessage="Please enter userAgent"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="ipAddress" for="ipAddress" />
														    <p:inputText  id="ipAddress" value="#{userBrowserInfoUI.userBrowserInfo.ipAddress}"  style="width:100%" required="true" requiredMessage="Please enter ipAddress"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="latitude" for="latitude" />
														    <p:inputText  id="latitude" value="#{userBrowserInfoUI.userBrowserInfo.latitude}"  style="width:100%" required="true" requiredMessage="Please enter latitude"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="longitude" for="longitude" />
														    <p:inputText  id="longitude" value="#{userBrowserInfoUI.userBrowserInfo.longitude}"  style="width:100%" required="true" requiredMessage="Please enter longitude"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="callingClass" for="callingClass" />
														    <p:inputText  id="callingClass" value="#{userBrowserInfoUI.userBrowserInfo.callingClass}"  style="width:100%" required="true" requiredMessage="Please enter callingClass"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="ipAddressDecoded" for="ipAddressDecoded" />
														    <p:inputText  id="ipAddressDecoded" value="#{userBrowserInfoUI.userBrowserInfo.ipAddressDecoded}"  style="width:100%" required="true" requiredMessage="Please enter ipAddressDecoded"/>
														</h:panelGroup>

  														<h:panelGroup styleClass="md-inputfield">
														    <p:outputLabel value="operatingSystem" for="operatingSystem" />
														    <p:inputText  id="operatingSystem" value="#{userBrowserInfoUI.userBrowserInfo.operatingSystem}"  style="width:100%" required="true" requiredMessage="Please enter operatingSystem"/>
														</h:panelGroup>


								                     
								                    <h:panelGroup styleClass="md-inputfield">
								                    	<br/>
								                       <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{userBrowserInfoUI.saveUserBrowserInfo}"/>
						                     			<p:spacer width="10"/>
						                     			<p:commandButton value="Clear" icon="fa fa-recycle" class="btn orange-btn" update="@form" actionListener="#{userBrowserInfoUI.reset}"/>
						                    		</h:panelGroup>
						                     
						                     </p:panelGrid>
								 	   </div>
					   			 </div>
					   			 
					   			 
					   		 <div class="box box-default color-palette-box">
							      <h:form id="tableForm">
								    <p:panelGrid columns="1" layout="grid" >
								    
								    	<p:dataTable  var="var" value="#{userBrowserInfoUI.dataModel}" id="userBrowserInfoList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
										paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
										    
										    <f:facet name="header">
										           <h:outputText value="UserBrowserInfo List" />
										    </f:facet>
										    
										    											<p:column headerText="callingMethod"  sortBy="#{var.callingMethod}" filterBy="#{var.callingMethod}">
											    <h:outputText value="#{var.callingMethod}"/>
											 </p:column>

 											<p:column headerText="user"  sortBy="#{var.user}" filterBy="#{var.user}">
											    <h:outputText value="#{var.user}"/>
											 </p:column>

 											<p:column headerText="browserName"  sortBy="#{var.browserName}" filterBy="#{var.browserName}">
											    <h:outputText value="#{var.browserName}"/>
											 </p:column>

 											<p:column headerText="referer"  sortBy="#{var.referer}" filterBy="#{var.referer}">
											    <h:outputText value="#{var.referer}"/>
											 </p:column>

 											<p:column headerText="fullURL"  sortBy="#{var.fullURL}" filterBy="#{var.fullURL}">
											    <h:outputText value="#{var.fullURL}"/>
											 </p:column>

 											<p:column headerText="userAgent"  sortBy="#{var.userAgent}" filterBy="#{var.userAgent}">
											    <h:outputText value="#{var.userAgent}"/>
											 </p:column>

 											<p:column headerText="ipAddress"  sortBy="#{var.ipAddress}" filterBy="#{var.ipAddress}">
											    <h:outputText value="#{var.ipAddress}"/>
											 </p:column>

 											<p:column headerText="latitude"  sortBy="#{var.latitude}" filterBy="#{var.latitude}">
											    <h:outputText value="#{var.latitude}"/>
											 </p:column>

 											<p:column headerText="longitude"  sortBy="#{var.longitude}" filterBy="#{var.longitude}">
											    <h:outputText value="#{var.longitude}"/>
											 </p:column>

 											<p:column headerText="callingClass"  sortBy="#{var.callingClass}" filterBy="#{var.callingClass}">
											    <h:outputText value="#{var.callingClass}"/>
											 </p:column>

 											<p:column headerText="ipAddressDecoded"  sortBy="#{var.ipAddressDecoded}" filterBy="#{var.ipAddressDecoded}">
											    <h:outputText value="#{var.ipAddressDecoded}"/>
											 </p:column>

 											<p:column headerText="operatingSystem"  sortBy="#{var.operatingSystem}" filterBy="#{var.operatingSystem}">
											    <h:outputText value="#{var.operatingSystem}"/>
											 </p:column>


										    
										     <p:column headerText="Last Update Date"  sortBy="#{var.lastUpdateDate}">
										        <h:outputText value="#{var.lastUpdateDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										         <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
										    </p:column>
										   
										    <p:column headerText="Last Update User"  sortBy="#{var.lastUpdateUser}">
										        <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
										        <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
										    </p:column>
										    
										    <p:column headerText="Date Created"  sortBy="#{var.createDate}">
										        <h:outputText value="#{var.createDate}">
										        	<f:convertDateTime pattern="dd MMM yyyy" />
										        </h:outputText>
										    </p:column>
										 
										 
										    
										    <p:column width="90">
												<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" process="@this" update="mainForm">
													<f:setPropertyActionListener value="#{var}" target="#{userBrowserInfoUI.userBrowserInfo}" />
												</p:commandButton>
												<p:spacer width="5" />
												<p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" class="btn btn-block orange-btn btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{userBrowserInfoUI.deleteUserBrowserInfo}">
													<p:confirm header="Confirm" message="Are you sure you want to delete this userBrowserInfo?" icon="ui-icon-warning" />
													<f:setPropertyActionListener value="#{var}" target="#{userBrowserInfoUI.userBrowserInfo}" />
												</p:commandButton>
											</p:column>
										 
										</p:dataTable>
									</p:panelGrid>
									</h:form>
							    </div>
					   		 </div>
					 </h:form>
					 
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
