<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="footer clearfix">
        <div class="card">
            <div class="ui-g footer-content">
                <div class="ui-g-12 ui-md-6">
                   <!--  <p:graphicImage name="images/logo-black.png" library="barcelona-layout" />
                    <span>PrimeFaces BARCELONA</span> -->
                     Copyright @<script>document.write(new Date().getFullYear())</script> Mashita Technologies (pty) Ltd
                </div>
                <div class="ui-g-12 ui-md-6">
                    <!-- <a href="https://github.com/primefaces"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a> -->
                </div>
            </div>
        </div>
        
    </div>
</ui:composition>