<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/barcelona"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:sec="http://www.springframework.org/security/tags">
    
    <div class="layout-sidebar #{guestPreferences.darkMenu ? 'layout-sidebar-dark': ''}">
        <pa:tabMenu>
            <pa:tab icon="home" title="Features">
                <h:form id="menu-form">
                    <pa:menu widgetVar="me">
                        <p:menuitem id="um_dashboard" value="Dashboard" icon="&#xE871;" outcome="/dashboard"/>
                           <sec:authorize access="hasRole('ROLE_INV')">
                        	 <p:menuitem id="myReportedInst" value="Reported Institution(s)" icon="fa fa-ban" outcome="/user/reportedinstitutions.xhtml?user-type=inv"/>
                          </sec:authorize>
                         <c:if test="false">
                         <!-- NOT IN USE -->
                        <p:submenu id="um_customization1" label="Menu Modes" icon="&#xE8B8;">
                            <p:menuitem id="menu1" value="Light Menu" icon="&#xE893;" actionListener="#{guestPreferences.setDarkMenu(false)}" ajax="false"/>
                            <p:menuitem id="menu2" value="Dark Menu" icon="&#xE892;" actionListener="#{guestPreferences.setDarkMenu(true)}" ajax="false"/>
                            <p:menuitem id="menu3" value="Static Menu" icon="&#xE5D2;" actionListener="#{guestPreferences.setOverlayMenu(false)}" ajax="false"/>
                            <p:menuitem id="menu4" value="Overlay Menu" icon="&#xE879;" actionListener="#{guestPreferences.setOverlayMenu(true)}" ajax="false"/>
                        </p:submenu>
                        <p:submenu id="om_orientation" label="Orientation" icon="&#xE237;">
                            <p:menuitem id="om_ltr" value="LTR" icon="&#xE236;" actionListener="#{guestPreferences.setOrientationRTL(false)}" ajax="false" />
                            <p:menuitem id="om_rtl" value="RTL" icon="&#xE237;" actionListener="#{guestPreferences.setOrientationRTL(true)}" ajax="false" />
                        </p:submenu>
                        <p:submenu id="um_themes" label="Themes" icon="&#xE40A;">
                            <p:menuitem id="theme1" value="Blue - Amber" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('blue')}" ajax="false" />
                            <p:menuitem id="theme2" value="Teal - Amber" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('teal')}" ajax="false" />
                            <p:menuitem id="theme3" value="Blue Grey - Green" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('blue-grey')}" ajax="false" />
                            <p:menuitem id="theme4" value="Cyan - Yellow" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('cyan')}" ajax="false" />
                            <p:menuitem id="theme5" value="Dark - Blue" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('dark-blue')}" ajax="false" />
                            <p:menuitem id="theme6" value="Dark - Green" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('dark-green')}" ajax="false" />
                            <p:menuitem id="theme7" value="Light Blue - Green" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('light-blue')}" ajax="false" />
                            <p:menuitem id="theme8" value="Indigo - Cyan" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('indigo')}" ajax="false" />
                            <p:menuitem id="theme9" value="Deep Purple - Pink" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('deep-purple')}" ajax="false" />
                            <p:menuitem id="theme10" value="Green - Yellow" icon="&#xE40A;" actionListener="#{guestPreferences.setTheme('green')}" ajax="false" />
                        </p:submenu>
                        <p:submenu id="bm_components" label="Components" icon="&#xE896;">
                            <p:menuitem id="bm_sample" value="Sample Page" icon="&#xE30B;" outcome="/sample" />
                            <p:menuitem id="bm_forms" value="Forms" icon="&#xE890;" outcome="/forms" />
                            <p:menuitem id="bm_data" value="Data" icon="&#xE3EC;" outcome="/data" />
                            <p:menuitem id="bm_panels" value="Panels" icon="&#xE14F;" outcome="/panel" />
                            <p:menuitem id="bm_overlays" value="Overlays" icon="&#xE14D;" outcome="/overlay" />
                            <p:menuitem id="bm_menus" value="Menus" icon="&#xE5D2;" outcome="/menu" />
                            <p:menuitem id="bm_messages" value="Messages" icon="&#xE0C9;" outcome="/messages" />
                            <p:menuitem id="bm_charts" value="Charts" icon="&#xE24B;" outcome="/charts" />
                            <p:menuitem id="bm_file" value="File" icon="&#xE226;" outcome="/file" />
                            <p:menuitem id="bm_misc" value="Misc" icon="&#xE332;" outcome="/misc" />
                        </p:submenu>
                       <p:submenu id="um_default" label="Template Pages" icon="&#xE884;">
                            <p:menuitem id="um_db_landing" value="Landing" icon="&#xE904;" outcome="/landing"/>
                            <p:menuitem id="um_empty" value="Empty Page" icon="&#xE88B;" outcome="/empty" />
                            <p:menuitem id="um_login" value="Login Page" icon="&#xE8E8;" outcome="/login" />
                            <p:menuitem id="um_error" value="Error Page" icon="&#xE000;" outcome="/error" />
                            <p:menuitem id="um_404" value="404 Page" icon="&#xE001;" outcome="/404" />
                            <p:menuitem id="um_access" value="Access Denied Page" icon="&#xE32A;" outcome="/access" />
                        </p:submenu>
                        <p:submenu id="um_hierarchy" label="Menu Hierarchy" icon="&#xE5D2;">
                            <p:submenu id="um_sm1" label="Submenu 1" icon="&#xE8D2;">
                                <p:submenu id="um_sm11" label="Submenu 1.1" icon="&#xE8D2;">
                                    <p:menuitem id="um_lnk111" value="Link 1.1.1" icon="&#xE8D2;" url="#" />
                                    <p:menuitem id="um_lnk112" value="Link 1.1.2" icon="&#xE8D2;" url="#" />
                                    <p:menuitem id="um_lnk113" value="Link 1.1.3" icon="&#xE8D2;" url="#" />
                                </p:submenu>
                                <p:submenu id="um_sm12" label="Submenu 1.2" icon="&#xE8D2;">
                                    <p:menuitem id="um_lnk121" value="Link 1.2.1" icon="&#xE8D2;" url="#" />
                                </p:submenu>
                            </p:submenu>
                            <p:submenu id="um_sm2" label="Submenu 2" icon="&#xE8D2;">
                                <p:submenu id="um_sm21" label="Submenu 2.1" icon="&#xE8D2;">
                                    <p:menuitem id="um_lnk211" value="Link 2.1.1" icon="&#xE8D2;" url="#" />
                                    <p:menuitem id="um_lnk212" value="Link 2.1.2" icon="&#xE8D2;" url="#" />
                                </p:submenu>
                                <p:submenu id="um_sm22" label="Submenu 2.2" icon="&#xE8D2;">
                                    <p:menuitem id="um_lnk221" value="Link 2.2.1" icon="&#xE8D2;" url="#" />
                                </p:submenu>
                            </p:submenu>
                        </p:submenu>
                        <p:menuitem id="um_utils" value="Utils" icon="&#xE869;" outcome="/utils" />
                        <p:menuitem id="um_doc" value="Documentation" icon="&#xE880;" outcome="/docs"/>
                        </c:if>
                    </pa:menu>
                </h:form>
            </pa:tab>
           
            <sec:authorize access="hasRole('ROLE_ADMIN')">
	            <pa:tab icon="fa fa-fw fa-cog" title="Configurations">
	                  <pa:menu widgetVar="lookups">
	                      <p:menuitem id="lp" value="Lookups" icon="fa fa-th" outcome="/admin/lookups"/>
	                      <p:menuitem id="um" value="User Management" icon="fa fa-users" outcome="/admin/assignuserroles"/>
	                      <p:menuitem id="importSchool" value="Import School" icon="fa fa-upload" outcome="/admin/gautengschoolimport"/>
	                      <p:menuitem id="reportedInst" value="All Reported Institution(s)" icon="fa fa-ban" outcome="/admin/reportedinstitutions.xhtml?user-type=adm"/>
	                  	  <p:menuitem id="inst" value="Gauteng Schools" icon="fa fa-building" outcome="/user/crud/institution.xhtml"/>
	                   </pa:menu>
	            </pa:tab>
            </sec:authorize>
            <c:if test="false">
             <!-- NOT IN USE -->
            <pa:tab icon="inbox" title="Inbox">
                <div class="inbox-tab">
                    <ul>
                        <li class="clearfix">
                            <p:graphicImage name="images/avatar1.png" library="barcelona-layout" width="45"/>
                            <span class="name">Joshua Williams</span>
                            <span class="message">Reports attached</span>
                        </li>
                        <li class="clearfix">
                            <p:graphicImage name="images/avatar1.png" library="barcelona-layout" width="45"/>
                            <span class="name">Joshua Williams</span>
                            <span class="message">About the meeting</span>
                        </li>
                        <li class="clearfix">
                            <p:graphicImage name="images/avatar2.png" library="barcelona-layout" width="45"/>
                            <span class="name">Emily Clark</span>
                            <span class="message">TODO Update</span>
                        </li>
                        <li class="clearfix">
                            <p:graphicImage name="images/avatar3.png" library="barcelona-layout" width="45"/>
                            <span class="name">Tim Johnson</span>
                            <span class="message">Expense Reports</span>
                        </li>
                        <li class="clearfix">
                            <p:graphicImage name="images/avatar4.png" library="barcelona-layout" width="45"/>
                            <span class="name">David Stark</span>
                            <span class="message">Rating Reviews</span>
                        </li>
                    </ul>
                    
                    <div class="inbox-labels">
                        <span>Labels</span>
                        <ul>
                            <li class="clearfix">
                                <span class="inbox-label">Work</span>
                                <span class="inbox-label-badge">4</span>
                            </li>
                            <li class="clearfix">
                                <span class="inbox-label">Personel</span>
                                <span class="inbox-label-badge">2</span>
                            </li>
                            <li class="clearfix">
                                <span class="inbox-label">Shared</span>
                                <span class="inbox-label-badge">3</span>
                            </li>
                            <li class="clearfix">
                                <span class="inbox-label">General</span>
                                <span class="inbox-label-badge">5</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </pa:tab>
            
            <pa:tab icon="event" title="Calendar">
                <div class="calendar-tab">
                    <ul>
                        <li class="clearfix">
                            <div class="calendar-event-date">
                                <span>21</span>
                                <span>OCT</span>
                            </div>
                            <div class="calendar-event-detail">
                                <span class="calendar-event-title">Project Meeting</span>
                                <i class="material-icons">place</i>
                                <span class="calendar-event-location">Chicago</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="calendar-event-date">
                                <span>13</span>
                                <span>NOV</span>
                            </div>
                            <div class="calendar-event-detail">
                                <span class="calendar-event-title">Presentation 1</span>
                                <i class="material-icons">place</i>
                                <span class="calendar-event-location">New York</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="calendar-event-date">
                                <span>01</span>
                                <span>DEC</span>
                            </div>
                            <div class="calendar-event-detail">
                                <span class="calendar-event-title">Presentation 2</span>
                                <i class="material-icons">place</i>
                                <span class="calendar-event-location">New York</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="calendar-event-date">
                                <span>25</span>
                                <span>DEC</span>
                            </div>
                            <div class="calendar-event-detail">
                                <span class="calendar-event-title">New Year Party</span>
                                <i class="material-icons">place</i>
                                <span class="calendar-event-location">San Francisco</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </pa:tab>
            
             <pa:tab icon="insert_chart" title="Projects">
                 <div class="projects-tab">
                    <ul>
                      <li class="clearfix">
                          <i class="fa fa-github"></i>
                          <span class="project-title">GitHub Tasks</span>
                          <span>3 open, 4 closed</span>
                          <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 50%"></div>
                          </div>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-youtube"></i>
                          <span class="project-title">YouTube Videos</span>
                          <span>12 new, 2 subscribers</span>
                          <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 20%"></div>
                          </div>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-twitter"></i>
                          <span class="project-title">Twitter Posts</span>
                          <span>24 new messages</span>
                          <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 65%"></div>
                          </div>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-facebook"></i>
                          <span class="project-title">Facebook Messages</span>
                          <span>8 total, 4 unread</span>
                          <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 80%"></div>
                          </div>
                      </li>
                      <li class="clearfix">
                          <i class="fa fa-linkedin"></i>
                          <span class="project-title">Linkedin Contacts</span>
                          <span>90 total, 45 pending</span>
                          <div class="project-progressbar">
                              <div class="project-progressbar-value" style="width: 90%"></div>
                          </div>
                      </li>
                    </ul>
                 </div>
            </pa:tab>
            
             <pa:tab icon="people" title="Team">
                <div class="team-tab">
                    <ul>
                        <li class="clearfix">
                           <p:graphicImage name="images/avatar1.png" library="barcelona-layout" width="45"/>
                           <span class="name">Joshua Williams</span>
                           <span class="location">New York, USA</span>
                        </li>
                        <li class="clearfix">
                           <p:graphicImage name="images/avatar2.png" library="barcelona-layout" width="45"/>
                           <span class="name">Jennifer Clarkson</span>
                           <span class="location">Paris, France</span>
                        </li>
                        <li class="clearfix">
                           <p:graphicImage name="images/avatar3.png" library="barcelona-layout" width="45"/>
                           <span class="name">Tim Johnson</span>
                           <span class="location">London, United Kingdom</span>
                        </li>
                        <li class="clearfix">
                           <p:graphicImage name="images/avatar4.png" library="barcelona-layout" width="45"/>
                           <span class="name">David Stark</span>
                           <span class="location">San Francisco, USA</span>
                        </li>
                    </ul>
                </div>
            </pa:tab>
           </c:if>
        </pa:tabMenu>        
    </div>
    
</ui:composition>