<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="head">
           <script type="text/javascript">
               //<![CDATA[
               function skinBar() {
                   this.cfg.shadow = false;
                   this.cfg.title = '';
                   this.cfg.seriesColors = ['#64B5F6', '#FFD54F'];
                   this.cfg.grid = {
                       background: '#ffffff',
                       borderColor: '#ffffff',
                       gridLineColor: '#F5F5F5',
                       shadow: false
                   };
                   this.cfg.axesDefaults = {
                       borderWidth: 0.1,
                       borderColor: 'bdbdbd',
                       rendererOptions: {
                           textColor: '#666F77'
                       }
                   };
                   this.cfg.seriesDefaults = {
                       shadow: false,
                       lineWidth: 1,
                       renderer: $.jqplot.BarRenderer,
                       markerOptions: {
                           shadow: false,
                           size: 7,
                           style: 'circle'
                       }
                   }
               }
               //]]>  
           </script>
           <style type="text/css">
               .main-content {
                   padding: 0;
               }
           </style>
       </ui:define>

    <ui:define name="content">
  	  <h:form>
        <div class="ui-g dashboard"> 
        	
	            <div class="ui-g-12 ui-md-6 ui-lg-3">
	                <div class="ui-g card overview-box overview-box-1">
	                    <span class="overview-box-name">Total No# Of School</span>
	                    <span class="overview-box-count">#{dashboardUI.numberOfSchools}</span>
	                   <!--  <span class="overview-box-badge">+30%</span> -->
	                    <p:graphicImage name="images/dashboard/chart-1.svg" library="barcelona-layout" />
	                </div>
	            </div>
	            <div class="ui-g-12 ui-md-6 ui-lg-3">
	                <div class="ui-g card overview-box overview-box-2">
	                	
	                    <span class="overview-box-name">Total No# Of Learners</span>
	                    <span class="overview-box-count">#{dashboardUI.numberOfLearners}</span>
	                    <div class="overview-box-badge">
	                    	<p:selectOneMenu  id="year" value="#{dashboardUI.leanersYear}" style="margin-bottom:0px;">
	                            <f:selectItem itemLabel="Year: #{dashboardUI.leanersYear}" noSelectionOption="true" />
								<f:selectItems value="#{dashboardUI.yearList}" var="rv" itemLabel="Year: #{rv}" itemValue="#{rv}" />
								<p:ajax update="@form" listener="#{dashboardUI.calcTotalLearners}"></p:ajax>
	                        </p:selectOneMenu>
	                     </div>
	                   <!--  <span class="overview-box-badge">+45%</span> -->
	                    <p:graphicImage name="images/dashboard/chart-2.svg" library="barcelona-layout" />
	                   
	                </div>
	                 
	            </div>
	            <div class="ui-g-12 ui-md-6 ui-lg-3">
	                <div class="ui-g card overview-box overview-box-3">
	                    <span class="overview-box-name">Total No# Of Educators</span>
	                    <span class="overview-box-count">#{dashboardUI.numberOfEducators}</span>
	                    
	                    <div class="overview-box-badge">
	                    	<p:selectOneMenu  id="year2" value="#{dashboardUI.educatorsYear}" style="margin-bottom:0px;">
	                            <f:selectItem itemLabel="Year: #{dashboardUI.educatorsYear}" noSelectionOption="true" />
								<f:selectItems value="#{dashboardUI.yearList}" var="rv" itemLabel="Year: #{rv}" itemValue="#{rv}" />
								<p:ajax update="@form" listener="#{dashboardUI.calcTotalEducators}"></p:ajax>
	                        </p:selectOneMenu>
	                     </div>
	                   <!--  <span class="overview-box-badge">-75%</span> -->
	                    <p:graphicImage name="images/dashboard/chart-3.svg" library="barcelona-layout" />
	                </div>
	            </div>
	            <div class="ui-g-12 ui-md-6 ui-lg-3">
	                <div class="ui-g card overview-box overview-box-4">
	                    <span class="overview-box-name">Total No# Of Open School</span>
	                   <span class="overview-box-count">#{dashboardUI.numberOfOpenSchools}</span>
	                   <!--  <span class="overview-box-badge">25%</span> -->
	                    <p:graphicImage name="images/dashboard/chart-4.svg" library="barcelona-layout" />
	                </div>
	            </div>
         		
         		<div class="ui-g-12 activity-feed">
	                <p:panel header="BOGUS INSTITUTIONS DETAILS" styleClass="ui-shadow-content">
	                    <div class="ui-g">
	                        <div class="ui-g-12 ui-md-12">
	                            <div class="knob red">#{dashboardUI.totalReported}</div>
	                            <span>TOTAL INSTITUTION(S) REPORTED</span>
	                        </div>
	                    </div>
	                    <div class="ui-g">
	                        
	                        <div class="ui-g-12 ui-md-3">
	                            <div class="knob orange">#{dashboardUI.statusSubmited}</div>
	                             <span>STATUS: SUBMITTED</span>
	                        </div>
	                         <div class="ui-g-12 ui-md-3">
	                            <div class="knob blue">#{dashboardUI.statusPendingInv}</div>
	                             <span>STATUS: PENDING INVESTIGATION</span>
	                        </div>
	                        <div class="ui-g-12 ui-md-3">
	                            <div class="knob l-green">#{dashboardUI.statusUnderInv}</div>
	                            <span>STATUS: UNDER INVESTIGATION</span>
	                        </div>
	                        <div class="ui-g-12 ui-md-3">
	                            <div class="knob green">#{dashboardUI.statusClosed}</div>
	                             <span>STATUS: CLOSED</span>
	                        </div>
	                       
	                        
	                    </div>
	                </p:panel>
	            </div>
        
        </div>
        
        
        
        
         </h:form>   
         <div class="card" style="height: 200px">
         
         </div>
    </ui:define>

</ui:composition>