<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>forgot password</title>
        <h:outputScript name="js/ripple.js" library="barcelona-layout" />
        <h:outputScript name="js/layout.js" library="barcelona-layout" />
    </h:head>

    <h:body styleClass="login-body">
        <h:form id="userRoleDialogForm">
        	<p:growl autoUpdate="true"  showSummary="false" showDetail="true" sticky="false" id="growl"/>
	        <div class="login-panel ui-fluid">
	            <div class="ui-g">
	                <div class="ui-g-12 login-header">
	                    <h1>FORGOT PASSWORD</h1>
	                    <h2>Welcome to Barcelona</h2>
	                    <p:graphicImage name="images/logo.png" library="barcelona-layout" />
	                </div>
	                
	                <div class="ui-g-12">
	                   <h:panelGroup styleClass="md-inputfield">
						 	<p:inputText type="email" id="username1" style="width:100%"  value="#{forgotPasswordUI.email}" required="true" requiredMessage="Please enter your email" />
							<p:outputLabel value="Enter email" for="username1" />
						</h:panelGroup>
	                </div>
	                
	                
	                <div class="ui-g-12 button-container">
	                    <p:commandButton style="width:100%" onstart="PF('loading').show()"  oncomplete="PF('loading').hide()" value="Submit" update="@form" actionListener="#{forgotPasswordUI.submit}" />
					    <br/>
		                <p:panelGrid columns="1" style="margin-top:5px;width:100%;">
		                	 <p:button style="width:100%" value="Login" outcome="/login"/>
		                	  <p:button style="width:100%" value="Home" outcome="/landing"/>
		                	 <p:button rendered="false" style="width:100%" value="New Account" outcome="/register"/>
		                </p:panelGrid>
	                </div>
	                
	            </div>
	        </div>
        </h:form>
        
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="barcelona-layout" />
        <h:outputStylesheet name="barcelona-layout/css/ripple.css" library="barcelona-layout" />
    </h:body>

</html>