<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
                
    <ui:define name="title">Forms</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-selectoneradio.ui-grid-responsive .ui-grid-col-4,
            .ui-selectmanycheckbox.ui-grid-responsive .ui-grid-col-4{
                padding-bottom: 10px;
            }
        </style>
    </ui:define>
                
    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6">
                <!-- Left Side -->
                <div class="card card-w-title">
                    <h1>InputText</h1>
                    <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                        <h:panelGroup styleClass="md-inputfield">
                            <p:inputText />
                            <label>Name</label>
                        </h:panelGroup>
                        <h:panelGroup styleClass="md-inputfield">
                            <p:inputText />
                            <label>Email</label>
                        </h:panelGroup>
                        <h:panelGroup styleClass="md-inputfield">
                            <p:inputText />
                            <label>Phone</label>
                        </h:panelGroup>
                        <p:inputText placeholder="Disabled Input" disabled="true"/>
                        <h:panelGroup styleClass="md-inputfield">
                            <p:inputText disabled="true" value="Test" />
                            <label>Address</label>
                        </h:panelGroup>
                        <p:inputText />
                    </p:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>TextArea</h1>
                    <p:inputTextarea rows="3" placeholder="Your Message" autoResize="false"/>

                </div>
                
                <div class="card card-w-title">
                    <h1>AutoComplete</h1>
                    <p:panelGrid columns="1" styleClass="form-group ui-panelgrid-blank" layout="grid">
                        <p:outputLabel value="Simple:" for="acSimple" />
                        <p:autoComplete label="Auto Complete" id="acSimple" value="#{autoCompleteView.txt1}" completeMethod="#{autoCompleteView.completeText}" style="margin-bottom:10px;"/>

                        <p:outputLabel value="DropDown:" for="dd" />
                        <p:autoComplete id="dd" dropdown="true" value="#{autoCompleteView.txt6}" completeMethod="#{autoCompleteView.completeText}" style="margin-bottom:10px;"/>

                        <p:outputLabel value="Group:" for="group" />
                        <p:autoComplete id="group" value="#{autoCompleteView.theme4}" completeMethod="#{autoCompleteView.completeThemeContains}"
                                        var="theme" itemLabel="#{theme.displayName}" itemValue="#{theme}" converter="theme"
                                        groupBy="#{autoCompleteView.getThemeGroup(theme)}" scrollHeight="250"/>
                    </p:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>SelectCheckBoxMenu</h1>
                    <p:selectCheckboxMenu label="Cities" filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectCheckboxMenu>
                </div>
                
                <div class="card card-w-title">
                    <h1>SelectManyMenu</h1>
                    <p:selectManyMenu showCheckbox="true" style="width:200px;">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectManyMenu>
                </div>
                
                <div class="card card-w-title">
                    <h1>Rating</h1>
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputText value="Basic:" />
                        <p:rating />

                        <h:outputText value="Callback:" />
                        <p:rating stars="5" cancel="false" onRate="alert('You rated ' + value)" />

                        <h:outputText value="Disabled"/>
                        <p:rating disabled="true" />
                    </h:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>Calendar</h1>
                    <p:calendar id="inline"  mode="inline"/>

                    <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank grid-pad" style="margin-top:10px">
                        <p:outputLabel for="popup" value="Popup:" />
                        <p:calendar id="popup" />

                        <p:outputLabel for="multi" value="Multiple:" />
                        <p:calendar id="multi" pages="3" />

                        <p:outputLabel for="effect" value="Effect:" />
                        <p:calendar id="effect" effect="fold" />

                        <p:outputLabel for="datetime" value="Datetime:" />
                        <p:calendar id="datetime" pattern="MM/dd/yyyy HH:mm:ss" />

                        <p:outputLabel for="time" value="Time:" />
                        <p:calendar id="time" pattern="HH:mm a" timeOnly="true"  />

                        <p:outputLabel for="button" value="Button:" />
                        <p:calendar id="button" showOn="button" />
                    </p:panelGrid>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-6">
                <!-- Right Side -->
                <div class="card card-w-title">
                    <h1>Checkboxes</h1>
                    <p:selectManyCheckbox layout="responsive" columns="3">
                        <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                        <f:selectItem itemLabel="PS4" itemValue="PS+" />
                        <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                    </p:selectManyCheckbox>
                </div>
                
                <div class="card card-w-title">
                    <h1>RadioButtons</h1>
                    <p:selectOneRadio layout="responsive" columns="3">
                        <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                        <f:selectItem itemLabel="PS4" itemValue="PS+" />
                        <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                    </p:selectOneRadio>
                </div>
                
                <div class="card card-w-title">
                    <h1>Input Switch</h1>
                    <p:inputSwitch />
                </div>
                
                <div class="card card-w-title">
                    <h1>SelectOneMenu</h1>
                    <p:panelGrid columns="1" style="margin-bottom:10px" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <p:selectOneMenu id="console" value="#{selectOneMenuView.console}" style="margin-bottom:10px;">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                            <f:selectItem itemLabel="PS4" itemValue="PS4" />
                            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                        </p:selectOneMenu>

                        <p:selectOneMenu id="car" style="margin-bottom:10px;">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItems value="#{selectOneMenuView.cars}" />
                        </p:selectOneMenu>

                        <p:selectOneMenu id="city" value="#{selectOneMenuView.city}" effect="fold" editable="true">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                            <f:selectItem itemLabel="PS4" itemValue="PS4" />
                            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                        </p:selectOneMenu>
                    </p:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>Keyboard And Password</h1>
                    <p:panelGrid columns="1" style="margin-bottom:10px" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <p:keyboard placeholder="Keyboard"/>
                        <p:password feedback="true" placeholder="Password" style="margin-top:15px;"/>
                    </p:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>MultiSelectListBox</h1>
                    <p:multiSelectListbox value="#{multiSelectView.selection}" effect="slide" header="Categories" showHeaders="true">
                        <f:selectItems value="#{multiSelectView.categories}" />
                    </p:multiSelectListbox>
                </div>
                
                <div class="card card-w-title">
                    <h1>SelectOneListBox</h1>
                    <p:selectOneListbox filter="true">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectOneListbox>
                </div>
                
                <div class="card card-w-title">
                    <h1>Spinner</h1>
                    <p:spinner />
                </div>
                
                <div class="card card-w-title">
                    <h1>Slider</h1>
                    <p:panelGrid columns="1" style="margin-bottom: 50px" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <p:inputText id="slider" style="margin-bottom:10px;" placeholder="Horizontal"/>
                        <p:slider for="slider"/>
                    </p:panelGrid>
                    
                    <p:panelGrid columns="1" style="margin-bottom: 50px" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <p:inputText id="txt4" style="margin-bottom:10px;" placeholder="Vertical"/>
                        <p:slider for="txt4" type="vertical" />
                    </p:panelGrid>
                    
                    <p:panelGrid columns="1" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <h:outputText id="displayRange" value="Values" style="font-size:16px"/>
                        <p:slider for="txt6,txt7" display="displayRange" range="true" displayTemplate="Between {min} and {max}" minValue="0" maxValue="100" style="margin-top:15px"/>
                    </p:panelGrid>
                    <h:inputHidden id="txt6" value="20"/>
                    <h:inputHidden id="txt7" value="80"/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>Input Groups</h1>
                    <div class="ui-g ui-fluid form-group">
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="material-icons">account_circle</i>
                                </span>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText />
                                    <label>Username</label>
                                </h:panelGroup>     
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="material-icons">credit_card</i></span>  
                                <span class="ui-inputgroup-addon"><i class="material-icons">card_travel</i></span> 
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText />
                                    <label>Price</label>
                                </h:panelGroup>
                                <span class="ui-inputgroup-addon">$</span>  
                                <span class="ui-inputgroup-addon">.00</span>      
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText />
                                    <label>Keyword</label>
                                </h:panelGroup>
                                <p:commandButton type="button" icon="ui-icon-search"/>      
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon-checkbox"><p:selectBooleanCheckbox /></span>
                                <h:panelGroup styleClass="md-inputfield">
                                    <p:inputText />
                                    <label>Username</label>
                                </h:panelGroup>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-lg-6" style="padding-top:0">
                    <div class="card card-w-title">
                        <h1>Buttons</h1>
                        <h:form>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank lesspad">
                                <h:outputText value="SelectBooleanButton:" />
                                <p:selectBooleanButton onLabel="Yes" offLabel="No" style="width:50%" />

                                <h:outputText value="SelectOneButton:" />
                                <p:selectOneButton>
                                    <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="PS4" itemValue="PS4" />
                                    <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                                </p:selectOneButton>

                                <h:outputText value="SelectManyButton:" />
                                <p:selectManyButton>
                                    <f:selectItem itemLabel="b" itemValue="b"/>
                                    <f:selectItem itemLabel="u" itemValue="u" />
                                    <f:selectItem itemLabel="i" itemValue="i" />
                                </p:selectManyButton>

                                <h:outputText value="Button" />
                                <p:button value="Bookmark" icon="ui-icon-star" style="width:auto"/>

                                <h:outputText value="Button Icon Only" />
                                <p:commandButton type="button" icon="ui-icon-add" />

                                <h:outputText value="CommandButton" />
                                <p:commandButton type="button" value="With Icon" icon="ui-icon-clear" />

                                <h:outputText value="CommandButton" />
                                <p:commandButton type="button" value="With Icon (Right Side)" icon="ui-icon-send" iconPos="right" style="width:auto"/>

                                <h:outputText value="CommandLink" />
                                <p:commandLink value="commandLink" />

                                <h:outputText value="Link" />
                                <p:link value="Bookmark" />

                                <h:outputText value="SplitButton" />
                                <p:splitButton value="Save" icon="ui-icon-check">
                                    <p:menuitem value="Update" icon="ui-icon-cloud-upload" />
                                    <p:menuitem value="Queue" icon="ui-icon-cloud-queue" />
                                    <p:separator />
                                    <p:menuitem value="Homepage" url="#" icon="ui-icon-home" />
                                </p:splitButton>
                            </p:panelGrid>
                        </h:form>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-6" style="padding-top:0">
                    <div class="card card-w-title">
                        <h1>Colored Buttons</h1>
                        <p>Raised and Flat buttons with various color alternatives.</p>
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-6" style="text-align:center">                                
                                <p:commandButton type="button" value="Primary Button" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Secondary Button" style="margin-bottom:10px;" styleClass="secondary"/>

                                <p:commandButton type="button" value="Inline Button" style="width:auto;margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Blue-Grey Button" styleClass="blue-grey-btn" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Cyan Button" styleClass="cyan-btn" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Amber Button" styleClass="amber-btn" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Teal Button" styleClass="teal-btn" style="margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Red Button" styleClass="red-btn" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Orange Button" styleClass="orange-btn" style="margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Green Button" styleClass="green-btn" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Deep-Orange Button" styleClass="deep-orange-btn" style="margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Purple Button" styleClass="purple-btn" style="margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Indigo Button" styleClass="indigo-btn" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Pink Button" styleClass="pink-btn" style="margin-bottom:10px;"/>
                            </div>
                            
                            <div class="ui-g-12 ui-md-6" style="text-align:center">                                
                                <p:commandButton type="button" value="Primary Button" style="margin-bottom:10px;" styleClass="flat"/>
                                
                                <p:commandButton type="button" value="Secondary Button" style="margin-bottom:10px;" styleClass="secondary flat"/>

                                <p:commandButton type="button" value="Inline Button" style="width:auto;margin-bottom:10px;" styleClass="flat"/>

                                <p:commandButton type="button" value="Blue-Grey Button" styleClass="blue-grey-btn flat" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Cyan Button" styleClass="cyan-btn flat" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Amber Button" styleClass="amber-btn flat" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Teal Button" styleClass="teal-btn flat" style="margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Red Button" styleClass="red-btn flat" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Orange Button" styleClass="orange-btn flat" style="margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Green Button" styleClass="green-btn flat" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Deep-Orange Button" styleClass="deep-orange-btn flat" style="margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Purple Button" styleClass="purple-btn flat" style="margin-bottom:10px;"/>

                                <p:commandButton type="button" value="Indigo Button" styleClass="indigo-btn flat" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Pink Button" styleClass="pink-btn flat" style="margin-bottom:10px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>