<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>home</title>
        <script type="text/javascript">
        $(function() {
            var menu = $('#menu');
            
            $('#menu-button').on('click', function(e) {
                if(menu.hasClass('lmenu-active')) {
                    menu.addClass('fadeOutUp');
                    
                    setTimeout(function() {
                        menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                    },500);
                }
                else {
                    menu.addClass('lmenu-active fadeInDown');
                }
                e.preventDefault();
            });
            
            menu.find('a').on('click', function() {
               menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            });
        });
        </script>
    </h:head>

    <h:body styleClass="landing-body">
        <div id="home" class="landing-wrapper">
            <div id="header">
             <p:graphicImage style="margin:0px" name="images/gau_logo_text.jpeg" library="barcelona-layout" />
                <div class="pre-header">
                    <div class="pre-header-content">
                     	 
                        <p:graphicImage style="margin-top:10px" name="images/verify.png" library="barcelona-layout" />
                        
                        
                        <a id="menu-button" href="#">
                           <span class="fa fa-bars"></span>
                        </a>
                        
                         <!-- <ul id="menu" class="animated">
                            <li>
                                <a href="#home">HOME</a>
                            </li>
                            <li>
                                <a href="#features">FEATURES</a>
                            </li>
                            <li>
                                <a href="#showcase">SHOWCASE</a>
                            </li>
                            <li>
                                <a href="#pricing">PRICING</a>
                            </li>
                            <li>
                                <a href="#video">VIDEO</a>
                            </li>
                        </ul> -->
                        
                         <ul id="menu" class="animated">
                            <li>
                                <a href="#{request.contextPath}/searchschool.xhtml">SEARCH SCHOOL</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/reportschool.xhtml">REPORT SCHOOL</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/reportstatus.xhtml">CHECK STATUS</a>
                            </li>
                            <li>
                                <a href="#{request.contextPath}/login.xhtml">LOGIN</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="header-content">
                    <h1>GAUTENG DEPARTMENT OF EDUCATION</h1>
                   <br/>
                    <h:form>
                   	 	<p:commandButton rendered="false" icon="fa fa-search" actionListener="#{landingPageUI.goToSearchSchools}" value="SEARCH SCHOOL" styleClass="secondary" />
               		</h:form>
                </div>
            </div>
            
            <div id="features">
                <div class="features-content">
                    <h2>ABOUT US</h2>
                    
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-4">
                            <p:graphicImage name="images/landing/icon-welldocumented.png" library="barcelona-layout" />
                            <h3>OUR MANDATE</h3>
                            <p>The Gauteng Department of Education is mandated to provide 
                            compulsory basic education to all learners in the province progressively, 
                            including learners with special needs and early childhood education. 
                            The Department therefore; seeks to provide access to quality teaching, 
                            learning and assessment for all learners in the Gauteng Province.</p>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <p:graphicImage name="images/landing/icon-moderndesign.png" library="barcelona-layout" />
                            <h3>OUR MISSION</h3>
                            <p>We are committed to provide functional and modern schools 
                            that enable quality teaching and learning that protect and 
                            promote the right of every learner to quality, equitable and relevant education.</p>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <p:graphicImage name="images/landing/icon-cleancode.png" library="barcelona-layout" />
                            <h3>OUR VISION</h3>
                            <p>Every learner feels valued and inspired in our innovative education system</p>
                        </div>
                    </div>
                </div>
            </div>
            
           <!--  <div id="showcase">
                <div class="showcase-header">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                            <span class="showcase-title">Ready to try Barcelona Live</span>
                            <span class="showcase-description">Barcelona is a material template for PrimeFaces</span>
                        </div> 
                        
                        <div class="ui-g-12 ui-md-6">
                            <p:commandButton type="button" value="LIVE PREVIEW" styleClass="secondary" />
                        </div> 
                    </div>
                </div>
            </div> -->
            
           <!--  <div id="showcase-content-wrapper">
                <div class="showcase-content">
                    <h2>PrimeFaces Barcelona</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur velit neque, aliquam sed dolor eu, sagittis rutrum erat. Donec eu risus vitae tellus rhoncus iaculis.</p>
                    <p:graphicImage name="images/landing/showcase-image.png" library="barcelona-layout" />
                </div>
            </div> -->
            
           <!--  <div id="pricing">
                <div class="pricing-content">
                    <h2>PRICING</h2>
                    
                    <div class="pricing-box pricing-basic">
                        <div class="pricing-header">
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <h3>PROFESSIONAL</h3>
                                    <p>For professionals</p>
                                </div>
                                <div class="ui-g-6">
                                    <h3>$10</h3>
                                    <p>PER YEAR</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pricing-features">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">Responsive</span>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">7/24 Support</span>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">Push Messages</span>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">Free Shipping</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pricing-footer">
                            <a href="#">LEARN MORE</a>
                        </div>
                    </div>
                    
                    <div class="pricing-box pricing-pro">
                        <div class="pricing-header">
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <h3>PROFESSIONAL</h3>
                                    <p>For professionals</p>
                                </div>
                                <div class="ui-g-6">
                                    <h3>$10</h3>
                                    <p>PER YEAR</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pricing-features">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">Responsive</span>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">7/24 Support</span>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">Push Messages</span>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">Free Shipping</span>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">Unlimited Bandwidth</span>
                                </div>
                                <div class="ui-g-12 ui-md-6">
                                    <span class="pricing-feature-icon"><i class="fa fa-check" /></span>
                                    <span class="pricing-feature-text">Unlimited Storage</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pricing-footer">
                            <a href="#">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div> -->
            
           <!--  <div id="video">
               <div class="video-content">
                   <h2>VIDEO</h2>
                   <div class="video-container">
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/L_bgTJkFk3k" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                   </div>
               </div>
           </div> -->
           
           <div id="footer" style="background-color: #bec9ce">
               <div class="footer-content clearfix">
                   <div class="footer-left">
                       <p class="copyright pull-right">
	                    Copyright @<script>document.write(new Date().getFullYear())</script> <a href="#">Mashita Technologies (pty) Ltd</a>
	                </p>
                   </div>
                   <div class="footer-right">
                       <!--<a href="#"><i class="fa fa-twitter" /></a>
                       <a href="#"><i class="fa fa-facebook" /></a>
                        <a href="#"><i class="fa fa-github" /></a> -->
                   </div>
               </div>
           </div>
        </div>
        
        <h:outputStylesheet name="css/animate.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="barcelona-layout" />
    </h:body>

</html>