<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>new account</title>
        <h:outputScript name="js/ripple.js" library="barcelona-layout" />
        <h:outputScript name="js/layout.js" library="barcelona-layout" />
    </h:head>

    <h:body styleClass="login-body">
        <h:form id="mainForm">
	        <div class="login-panel ui-fluid">
	            <div class="ui-g">
	            	<p:growl autoUpdate="true"  showSummary="false" showDetail="true" sticky="false" id="growl"/>
	                <div class="ui-g-12 login-header">
	                    <h1>CREATE NEW ACCOUNT</h1>
	                    <h2>Welcome to Barcelona</h2>
	                    <p:graphicImage name="images/logo.png" library="barcelona-layout" />
	                </div>
	                
	                 <div class="ui-g-12">
	                    <p:outputLabel style="color:#{guestPreferences.primaryColor}" value="Title" for="title" />
						<p:selectOneMenu id="title" value="#{userUI.user.title}"  converter="#{titleConvertor}"  style="width:100%;margin-top:10px" requiredMessage="Select title" required="true">
							<f:selectItem itemLabel="Select Title" noSelectionOption="true" />
							<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
						</p:selectOneMenu>
	                </div>
	                
	                <div class="ui-g-12">
	                     <h:panelGroup styleClass="md-inputfield">
			                   <p:inputMask mask="#{commonUI.ID_NUMBER_FORMAT}" value="#{userUI.user.rsaId}" id="idNum"  style="width:100%" required="true"   requiredMessage="Please enter id number"/>
				          	   <p:outputLabel value="ID Number" for="idNum" />
				          </h:panelGroup>
	                </div>
	                <div class="ui-g-12">
	                     <h:panelGroup styleClass="md-inputfield">
			                   <p:inputText validatorMessage="Please enter a valid name. Ensure that no special charectors or numbers are provided" value="#{userUI.user.name}"  id="name"  style="width:100%" required="true" requiredMessage="Please enter your name">
			                   	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
			                   </p:inputText>
							   <p:outputLabel value="Name" for="name" />
				          </h:panelGroup>
	                </div>
	                
	                <div class="ui-g-12">
	                    <h:panelGroup styleClass="md-inputfield">
			                    <p:inputText validatorMessage="Please enter a valid surname Ensure that no special charectors or numbers are provided" value="#{userUI.user.surname}" id="surname"  style="width:100%" required="true"  requiredMessage="Please enter your surname">
			                    	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
			                    </p:inputText>
								<p:outputLabel value="Surname" for="surname" />
				          </h:panelGroup>
	                </div>
	                
	                <div class="ui-g-12">
	                     <h:panelGroup styleClass="md-inputfield">
		                       <p:inputMask  mask="#{commonUI.CELLPHONE_FORMAT}"   value="#{userUI.user.cellNumber}" id="cell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
			           		   <p:outputLabel value="Cell Number" for="cell" />
			             </h:panelGroup>
	                </div>
	                
	                <div class="ui-g-12">
	                    <h:panelGroup styleClass="md-inputfield">
		                     <p:inputText value="#{userUI.user.email}" id="email"  style="width:100%" required="true" type="email"  requiredMessage="Please enter email address"/>
			            	 <p:outputLabel value="Enter Email" for="email" />
			             </h:panelGroup>
	                </div>
	                
	                <div class="ui-g-12 button-container">
	                	
	                    <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()"  style="width:100%" value="Submit" action="#{userUI.registeUser}" />
	              		<br/>
		                <p:panelGrid columns="1" style="margin-top:5px;width:100%;">
		                	 <p:button style="width:100%" value="Login" outcome="/login"/>
		                	 <p:button style="width:100%" value="Forgot Password" outcome="/forgotpassword"/>
		                </p:panelGrid>
	                </div>
	            </div>
	        </div>
        </h:form>
        
        <!-- Global loading Dialog -->
		<p:dialog resizable="false" draggable="false"  minimizable="false" widgetVar="loading" hideEffect="clip" showEffect="clip" id="loading" appendTo="@(body)" modal="true" closable="true" width="15%" height="50%" responsive="true" closeOnEscape="true">
			  <center>
			  	<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			  		<br/>
			  		<br/>
			  		 Loading, Please Wait...
			  </center> 
		</p:dialog>
        
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="barcelona-layout" />
        <h:outputStylesheet name="barcelona-layout/css/ripple.css" library="barcelona-layout" />
    </h:body>

</html>