<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>home</title>
        <script type="text/javascript">
        $(function() {
            var menu = $('#menu');
            
            $('#menu-button').on('click', function(e) {
                if(menu.hasClass('lmenu-active')) {
                    menu.addClass('fadeOutUp');
                    
                    setTimeout(function() {
                        menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                    },500);
                }
                else {
                    menu.addClass('lmenu-active fadeInDown');
                }
                e.preventDefault();
            });
            
            menu.find('a').on('click', function() {
               menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            });
        });
        </script>
        
       
    </h:head>

    <h:body styleClass="landing-body">
    	 <p:growl autoUpdate="true" id="msg"  showSummary="false" showDetail="true" sticky="false"></p:growl>
        <div id="home" class="landing-wrapper">
            <div id="header">
             <p:graphicImage style="margin:0px" name="images/gau_logo_text.jpeg" library="barcelona-layout" />
                <div class="pre-header">
                    <div class="pre-header-content">
                    	 <p:graphicImage style="margin-top:10px" name="images/verify.png" library="barcelona-layout" />
                          <a id="menu-button" href="#">
	                           <span class="fa fa-bars"></span>
	                       </a>
                         <ul id="menu" class="animated">
                            <li>
                                <a href="#{request.contextPath}/landing.xhtml">HOME</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/searchschool.xhtml">SEARCH SCHOOL</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/reportstatus.xhtml">CHECK STATUS</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/login.xhtml">LOGIN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            
             <div class="header-content" style="margin: 20px">
             	<h:form id="mainForm">
	             	 <div class="ui-g">
	             	 	<div class="ui-g-12">
			             	 <div class="card">
			             	 	<h3 class="box-title"><i class="fa fa-th"></i> Report School</h3>
			             	 			<p:fieldset legend="School Details">
										<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
												<h:panelGroup>
													<p:outputLabel value="School Name" for="institutionName" />
												    <p:inputText  id="institutionName" value="#{reportedInstitutionsUI.reportedInstitutions.institutionName}"  style="width:100%" required="true" requiredMessage="Please enter institutionName"/>
												</h:panelGroup>
												
												<h:panelGroup rendered="false">
													 <p:outputLabel value="Known As" for="knownAs" />
												     <p:inputText  id="knownAs" value="#{reportedInstitutionsUI.reportedInstitutions.knownAs}"  style="width:100%" required="true" requiredMessage="Please enter knownAs"/>
													
												</h:panelGroup>
										</p:panelGrid>
										<p:fieldset legend="School Address">
											<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
												<h:panelGroup>
													<p:outputLabel value="Address Line1" for="addressLine1" />
												     <p:inputText  id="addressLine1" value="#{reportedInstitutionsUI.reportedInstitutions.addressLine1}"  style="width:100%" required="true" requiredMessage="Please enter addressLine1"/>
													 
												</h:panelGroup>
												<h:panelGroup>
													 <p:outputLabel value="Address Line2" for="addressLine2" />
												     <p:inputText  id="addressLine2" value="#{reportedInstitutionsUI.reportedInstitutions.addressLine2}"  style="width:100%" required="true" requiredMessage="Please enter addressLine2"/>
													
												</h:panelGroup>
												<h:panelGroup>
													 <p:outputLabel value="Surburb" for="addressLine3" />
												     <p:inputText  id="addressLine3" value="#{reportedInstitutionsUI.reportedInstitutions.addressLine3}"  style="width:100%" required="true" requiredMessage="Please enter addressLine3"/>
													
												</h:panelGroup>
												<h:panelGroup rendered="false">
													 <p:outputLabel value="Address Line4" for="addressLine4" />
												     <p:inputText  id="addressLine4" value="#{reportedInstitutionsUI.reportedInstitutions.addressLine4}"  style="width:100%" required="false" requiredMessage="Please enter addressLine4"/>
													
												</h:panelGroup>
												<h:panelGroup>
                                                      <p:outputLabel value="City/Town"  />
                                                      <p:selectOneMenu id="cityTown" value="#{reportedInstitutionsUI.reportedInstitutions.townCityLookup}" converter="#{townCityConvertor}" style="width:100%" requiredMessage="Select Town/City" required="true">
                                                          <f:selectItem itemLabel="Select Town/City" noSelectionOption="true" />
                                                          <f:selectItems value="#{commonItemUI.selectItemsTownCity}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
                                                      	<p:ajax/>
                                                      </p:selectOneMenu>
                                                 </h:panelGroup>
												<h:panelGroup >
													 <p:outputLabel value="Post Code" for="postCode" />
													  <p:inputMask mask="9999" value="#{reportedInstitutionsUI.reportedInstitutions.postCode}" id="postCode"  style="width:100%" required="true"   requiredMessage="Please enter postCode"/>
				          	  
												</h:panelGroup>
											</p:panelGrid>
										</p:fieldset>
										<br/>
										<p:textEditor placeholder="Additional Infomation(Optional)" widgetVar="editor1" value="#{reportedInstitutionsUI.reportedInstitutions.additionalInfo}" height="150" style="margin-bottom:10px">
											 <f:facet name="toolbar">
										             <span class="ql-formats">
										                <button class="ql-bold"></button>
										                <button class="ql-italic"></button>
										                <button class="ql-underline"></button>
										                <button class="ql-strike"></button>
										            </span>
										            <span class="ql-formats">
										                <select class="ql-font"></select>
										                <select class="ql-size"></select>
										            </span>
										        </f:facet>
										</p:textEditor>
										
									</p:fieldset>
									
								
									<p:fieldset legend="Reporter's Details (We deploy all efforts to protect the private nature of your personal information...)">
										<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
											<h:panelGroup>
												 <p:outputLabel value="Name" for="reporterName" />
											     <p:inputText  id="reporterName" value="#{reportedInstitutionsUI.reportedInstitutions.reporterName}"  style="width:100%" required="true" requiredMessage="Please enter reporterName"/>
												
											</h:panelGroup>
											<h:panelGroup>
												 <p:outputLabel value="Surname" for="reporterSurname" />
											     <p:inputText  id="reporterSurname" value="#{reportedInstitutionsUI.reportedInstitutions.reporterSurname}"  style="width:100%" required="true" requiredMessage="Please enter reporterSurname"/>
												
											</h:panelGroup>
											<h:panelGroup>
												 <p:outputLabel value="Email" for="reporterEmail" />
											     <p:inputText  id="reporterEmail" value="#{reportedInstitutionsUI.reportedInstitutions.reporterEmail}"  style="width:100%" required="true" requiredMessage="Please enter reporterEmail"/>
												
											</h:panelGroup>
											<h:panelGroup >
												<p:outputLabel value="Cell Phone Number" for="reporterCell" />
											     <p:inputText  id="reporterCell" value="#{reportedInstitutionsUI.reportedInstitutions.reporterCell}"  style="width:100%" required="true" requiredMessage="Please enter reporterCell"/>
												 
											</h:panelGroup>
										 </p:panelGrid>
									 </p:fieldset>
								 <h:panelGroup styleClass="md-inputfield">
								      <br/>
			                          <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form" actionListener="#{reportedInstitutionsUI.saveReportedInstitutions}"/>
		                 		      <p:spacer width="10"/>
		                 			  <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn" update="@form" actionListener="#{reportedInstitutionsUI.reset}"/>
		                		</h:panelGroup>
			             	 	
			             	 </div>
		             	 </div>
	             	</div>
				</h:form>
            </div>
			
            <div id="footer" style="background-color: #bec9ce">
               <div class="footer-content clearfix">
                   <div class="footer-left">
                       <p class="copyright pull-right">
	                    Copyright @<script>document.write(new Date().getFullYear())</script> <a href="#">Mashita Technologies (pty) Ltd</a>
	                </p>
                   </div>
                   <div class="footer-right">
                       <!-- <a href="#"><i class="fa fa-twitter" /></a>
                       <a href="#"><i class="fa fa-facebook" /></a>
                       <a href="#"><i class="fa fa-github" /></a> -->
                   </div>
               </div>
           </div>
        </div>
        
        
        
        <h:outputStylesheet name="css/animate.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="barcelona-layout" />
    </h:body>

</html>