<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>home</title>
        <script type="text/javascript">
        $(function() {
            var menu = $('#menu');
            
            $('#menu-button').on('click', function(e) {
                if(menu.hasClass('lmenu-active')) {
                    menu.addClass('fadeOutUp');
                    
                    setTimeout(function() {
                        menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                    },500);
                }
                else {
                    menu.addClass('lmenu-active fadeInDown');
                }
                e.preventDefault();
            });
            
            menu.find('a').on('click', function() {
               menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            });
        });
        </script>
        
       
    </h:head>

    <h:body styleClass="landing-body">
    	 <p:growl autoUpdate="true" id="msg"  showSummary="false" showDetail="true" sticky="false"></p:growl>
        <div id="home" class="landing-wrapper">
            <div id="header">
             <p:graphicImage style="margin:0px" name="images/gau_logo_text.jpeg" library="barcelona-layout" />
                <div class="pre-header">
                    <div class="pre-header-content">
                    	 <p:graphicImage style="margin-top:10px" name="images/verify.png" library="barcelona-layout" />
                          <a id="menu-button" href="#">
	                           <span class="fa fa-bars"></span>
	                       </a>
                         <ul id="menu" class="animated">
                            <li>
                                <a href="#{request.contextPath}/landing.xhtml">HOME</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/reportschool.xhtml">REPORT SCHOOL</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/searchschool.xhtml">SEARCH SCHOOL</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/login.xhtml">LOGIN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            
             <div class="header-content" style="margin: 20px">
             	<h:form id="mainForm">
	             	 <div class="card">
	             	 	<h3 class="box-title"><i class="fa fa-th"></i> Check Reported School Status</h3>
	             	 	
							<p:fieldset>
								<br/>
								<p:panelGrid rendered="true" columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<h:panelGroup >
										<p:outputLabel value="Enter Refence Number" for="refNum" />
									    <p:inputText placeholder="Enter refence number sent to you after reporting the school" id="refNum" value="#{reportedInstitutionsUI.refNum}"  style="width:100%;margin-top:15px" required="true" requiredMessage="Please enter refence number"/>
									
									</h:panelGroup>
	                                <h:panelGroup >
	                                	<p:commandButton style="margin-top:20px" onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="SUBMIT" class="btn btn-block btn-info"  icon="fa fa-save" title="Submit" actionListener="#{reportedInstitutionsUI.findByRefNumber}" process="@form" update="@form"/>
										
									</h:panelGroup>
								</p:panelGrid>
								<br/>
							</p:fieldset>
	             	 </div>
				</h:form>
				
				<h:form id="tableForm">
				
				</h:form>
            
             	 
            </div>
           
			<ui:include src="/admin/include/institutiondetailsdialog.xhtml">
				<ui:param name="showInvInfo" value="false" />
			</ui:include>
			
           	<p:dialog resizable="false" draggable="false"  minimizable="false" widgetVar="loading" hideEffect="clip" showEffect="clip" id="loading" appendTo="@(body)" modal="true" closable="true" width="15%" height="50%" responsive="true" closeOnEscape="true">
				  <center>
				  	<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				  		<br/>
				  		<br/>
				  		 Loading, Please Wait...
				  </center> 
			</p:dialog>
			<h:panelGroup id="pgSpace" >
				<h:panelGroup >
					<div >
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
				</h:panelGroup>
			</h:panelGroup>
			
			
            <div id="footer" style="background-color: #bec9ce">
               <div class="footer-content clearfix">
                   <div class="footer-left">
                       <p class="copyright pull-right">
	                    Copyright @<script>document.write(new Date().getFullYear())</script> <a href="#">Mashita Technologies (pty) Ltd</a>
	                </p>
                   </div>
                   <div class="footer-right">
                        <!--<a href="#"><i class="fa fa-twitter" /></a>
                       <a href="#"><i class="fa fa-facebook" /></a>
                       <a href="#"><i class="fa fa-github" /></a> -->
                   </div>
               </div>
           </div>
        </div>
        
        
        
        <h:outputStylesheet name="css/animate.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="barcelona-layout" />
    </h:body>

</html>