<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>home</title>
        <script type="text/javascript">
        $(function() {
            var menu = $('#menu');
            
            $('#menu-button').on('click', function(e) {
                if(menu.hasClass('lmenu-active')) {
                    menu.addClass('fadeOutUp');
                    
                    setTimeout(function() {
                        menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                    },500);
                }
                else {
                    menu.addClass('lmenu-active fadeInDown');
                }
                e.preventDefault();
            });
            
            menu.find('a').on('click', function() {
               menu.removeClass('fadeOutUp fadeInDown lmenu-active');
            });
        });
        </script>
        
       
    </h:head>

    <h:body styleClass="landing-body">
    	 <p:growl autoUpdate="true" id="msg"  showSummary="false" showDetail="true" sticky="false"></p:growl>
        <div id="home" class="landing-wrapper">
            <div id="header">
             <p:graphicImage style="margin:0px" name="images/gau_logo_text.jpeg" library="barcelona-layout" />
                <div class="pre-header">
                    <div class="pre-header-content">
                    	 <p:graphicImage style="margin-top:10px" name="images/verify.png" library="barcelona-layout" />
                          <a id="menu-button" href="#">
	                           <span class="fa fa-bars"></span>
	                       </a>
                         <ul id="menu" class="animated">
                            <li>
                                <a href="#{request.contextPath}/landing.xhtml">HOME</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/reportschool.xhtml">REPORT SCHOOL</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/reportstatus.xhtml">CHECK STATUS</a>
                            </li>
                             <li>
                                <a href="#{request.contextPath}/login.xhtml">LOGIN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            
             <div class="header-content" style="margin: 20px">
             	<h:form id="mainForm">
	             	 <div class="card">
	             	 	<h3 class="box-title"><i class="fa fa-th"></i> Search Gauteng Schools</h3>
	             	 	
							<p:fieldset>
								<br/>
								<p:panelGrid rendered="false" columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<!-- NOT IN USE -->
									<h:panelGroup>
										<p:outputLabel value="Enter School Name" for="officialInstitutionName" />
	                   					<p:autoComplete inputStyle="width:100%" style="width:100%;margin-top:10px" var="var" itemLabel="#{var.officialInstitutionName}" itemValue="#{var}" id="officialInstitutionName" value="#{institutionUI.institution}" completeMethod="#{commonItemUI.autoCompleteInstitution}"  converter="#{institutionConvertor}" forceSelection="true">
	                   						<p:ajax event="itemSelect"  update="pgBtNView" />
	                   					</p:autoComplete>
	                                </h:panelGroup>
	                                <h:panelGroup id="pgBtNView">
	                                	<p:commandButton disabled="#{institutionUI.institution.id eq null}" style="margin-top:20px" value="VIEW DETAILS" class="btn btn-block btn-info"  icon="fa fa-search" title="Search School"  oncomplete="PF('schoolDialog').show()" process="@this" update="schoolDialog"/>
									</h:panelGroup>
								</p:panelGrid>
								
								<p:panelGrid rendered="true" columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<h:panelGroup >
										<p:outputLabel value="Enter School Name" for="schoolName" />
									    <p:inputText placeholder="Enter school key word, e.g Madiba" id="schoolName" value="#{institutionUI.searchValue}"  style="width:100%;margin-top:15px" required="true" requiredMessage="Please enter school name"/>
									
									</h:panelGroup>
	                                <h:panelGroup >
	                                	<p:commandButton style="margin-top:20px" onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="SEARCH SCHOOL" class="btn btn-block btn-info"  icon="fa fa-search" title="Search School" actionListener="#{institutionUI.searchSchool}" process="@form" update="@form pgSpace"/>
										<p:spacer width="10"></p:spacer>
										<p:commandButton style="margin-top:20px"  value="CLEAR" class="btn btn-block orange-btn"  icon="fa fa-recycle" title="Search School" actionListener="#{institutionUI.clearSearchSchool}" process="@this" update="@form pgSpace"/>
									
									</h:panelGroup>
								</p:panelGrid>
								<br/>
							</p:fieldset>
	             	 </div>
	             	 
	             	 <div class="card">
		             	 <p:fieldset rendered="#{institutionUI.institutionList ne null and institutionUI.institutionList.size() gt 0}">
									<p:dataTable  var="var" value="#{institutionUI.institutionList}" id="institutionList" rowKey="#{var.id}" paginatorPosition="bottom">
								   		    <f:facet name="header">
								           <h:outputText value="Gauteng School(s) List" />
								    </f:facet>
								    
								    <p:column headerText="Official Institution Name"  sortBy="#{var.officialInstitutionName}" filterBy="#{var.officialInstitutionName}">
									    <h:outputText value="#{var.officialInstitutionName}"/>
									 </p:column>
								    
								    <p:column headerText="Province"  sortBy="#{var.provinceLookup}" >
									    <h:outputText value="#{var.provinceLookup.description}"/>
									 </p:column>
									 
									 <p:column headerText="Township Village"  sortBy="#{var.townshipVillageLookup}">
									    <h:outputText value="#{var.townshipVillageLookup.description}"/>
									 </p:column>
									 
									 <p:column headerText="Specialisation"  sortBy="#{var.specialisationLookup}">
									    <h:outputText value="#{var.specialisationLookup.description}"/>
									 </p:column>
									 
									 <p:column headerText="Exam Centre"  sortBy="#{var.examCentreLookup}">
									    <h:outputText value="#{var.examCentreLookup.description}"/>
									 </p:column>
									 
									 <p:column headerText="Inst Status"  sortBy="#{var.instStatusEnum}">
									    <h:outputText value="#{var.instStatusEnum.friendlyName}"/>
									 </p:column>
									 
									  <p:column width="120">
										<p:commandButton value="More Info" class="btn btn-block btn-info btn-xs"  icon="fa fa-search-plus" title="More Information"  oncomplete="PF('schoolDialog').show()" process="@this" update="schoolDialog">
											<f:setPropertyActionListener value="#{var}" target="#{institutionUI.institution}" />
										</p:commandButton>
									</p:column>
								    
								</p:dataTable>
						</p:fieldset>
					</div>
				</h:form>
            
             	 
            </div>
           
            
			<ui:include src="/user/include/institutiondetailsdialog.xhtml"/>
           	<p:dialog resizable="false" draggable="false"  minimizable="false" widgetVar="loading" hideEffect="clip" showEffect="clip" id="loading" appendTo="@(body)" modal="true" closable="true" width="15%" height="50%" responsive="true" closeOnEscape="true">
				  <center>
				  	<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				  		<br/>
				  		<br/>
				  		 Loading, Please Wait...
				  </center> 
			</p:dialog>
			<h:panelGroup id="pgSpace" >
				<h:panelGroup rendered="#{institutionUI.institutionList eq null or institutionUI.institutionList.size() eq 0}">
					<div >
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
				</h:panelGroup>
			</h:panelGroup>
			
			
            <div id="footer" style="background-color: #bec9ce">
               <div class="footer-content clearfix">
                   <div class="footer-left">
                       <p class="copyright pull-right">
	                    Copyright @<script>document.write(new Date().getFullYear())</script> <a href="#">Mashita Technologies (pty) Ltd</a>
	                </p>
                   </div>
                   <div class="footer-right">
                        <!--<a href="#"><i class="fa fa-twitter" /></a>
                       <a href="#"><i class="fa fa-facebook" /></a>
                       <a href="#"><i class="fa fa-github" /></a> -->
                   </div>
               </div>
           </div>
        </div>
        
        
        
        <h:outputStylesheet name="css/animate.css" library="barcelona-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css" library="barcelona-layout" />
    </h:body>

</html>