<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 
<h:head></h:head> 
<body>
	
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form id="mainForm">
				
				     <!-- Main content -->
		    		<section class="content">
		    		
		    			<div class="box box-default color-palette-box">
							 <div class="box-header with-border">
							 	 
							        <h4 class="margin"><i class="fa fa-user"></i> ADD USER</h4>
							     
							     	 <br/>							 
									   <p:panelGrid class="margin" columns="2" layout="grid" >
									   
									    <h:panelGroup styleClass="md-inputfield">
									   
									   	  <small><p:outputLabel value="Enter ID Number" for="idNum" /></small>
				                            <p:inputText value="#{userUI.user.rsaId}" id="idNum"  style="width:100%" required="true"  requiredMessage="Please enter id number"/>
					                     </h:panelGroup>
									   
									   	 <h:panelGroup styleClass="md-inputfield">
									   	 	 <small><p:outputLabel value="Enter Name" for="name" /></small>
				                            <p:inputText value="#{userUI.user.name}"  id="name"  style="width:100%" required="true" requiredMessage="Please enter your name"/>
					                     </h:panelGroup>
					                     
					                      <h:panelGroup styleClass="md-inputfield">
									   	 	 <small><p:outputLabel value="Enter Surname" for="surname" /></small>
				                            <p:inputText value="#{userUI.user.surname}" id="surname"  style="width:100%" required="true"  requiredMessage="Please enter your surname"/>
					                     </h:panelGroup>
					                     
					                      <h:panelGroup styleClass="md-inputfield">
									   	 	 <small><p:outputLabel value="Enter Cell Number" for="cell" /></small>
				                            <p:inputText  value="#{userUI.user.cellNumber}" id="cell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
					                     </h:panelGroup>
					                     
					                      <h:panelGroup styleClass="md-inputfield">
									   	 	 <small><p:outputLabel value="Enter Email" for="email" /></small>
				                            <p:inputText value="#{userUI.user.email}" id="email"  style="width:100%" required="true"  requiredMessage="Please enter email address"/>
					                     </h:panelGroup>
					                     
					                     <h:panelGroup styleClass="md-inputfield">
									   	 	 <small><p:outputLabel value="Enter Password" for="pass" /></small>
				                             <p:password value="#{userUI.user.password}" id="pass" feedback="true" style="width:100%" inline="true" />
				                         </h:panelGroup>
				                         
				                          
					                      <p:commandButton value="Submit" icon="fa fa-save" update="@form" actionListener="#{userUI.saveUser}"/>
										
				                       
									   </p:panelGrid>
							     
							 </div>
							
							 
							 
						
							 
					    </div>
					    
					</section>
					
			</h:form>
    	</ui:define>
    </ui:composition>
    
    
    
</body> 
</html>
