<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

   <h:head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <title>change password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
  <!-- Bootstrap 3.3.7 -->
  <h:outputStylesheet name="AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  
  <!-- Font Awesome -->
  <h:outputStylesheet name="AdminLTE/bower_components/font-awesome/css/font-awesome.min.css" />
  
  <!-- Ionicons -->
  <h:outputStylesheet name="AdminLTE/bower_components/Ionicons/css/ionicons.min.css" />
  
  <!-- Theme style -->
  <h:outputStylesheet name="AdminLTE/dist/css/AdminLTE.min.css" />
  
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <h:outputStylesheet name="AdminLTE/dist/css/skins/_all-skins.min.csss" />

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
  
   </h:head>


<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<!-- <body class="hold-transition skin-blue layout-top-nav"> -->
<body class="hold-transition #{commonUI.theme} fixed layout-top-nav">
<div class="wrapper">

	<!-- Login Header -->
	<ui:include src="./loginHeader.xhtml"/>
  
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Main content -->
      <section class="content">
	     
      	 <p:growl autoUpdate="true"  showSummary="false" showDetail="true" sticky="false" id="growl">
		 </p:growl>
		 
		       <div class="row search-box margin-top col-md-8 col-md-offset-2">
                    <h3 class="section-title">Change Your Password</h3>
                	<hr/>
                	 <h:form id="userRoleDialogForm">
						<p:panelGrid  class="list-group-item" style="width:100%" columns="1" layout="grid" >
                                 
		                     <h:panelGroup styleClass="md-inputfield">
						   	 	 <small><p:outputLabel value="Enter New Password" for="newPass" /></small>
	                             <p:password value="#{changePasswordUI.newPassword}" id="newPass" feedback="true" style="width:100%" inline="true" match="newPass2" required="true" requiredMessage="Please enter new Password" validatorMessage="Passwords do not match"/>
	                         </h:panelGroup>
	                         
	                         <h:panelGroup styleClass="md-inputfield">
						   	 	 <small><p:outputLabel value="Confirm New Password" for="newPass2" /></small>
	                             <p:password value="#{changePasswordUI.confirmPassword}" id="newPass2" feedback="true" style="width:100%" inline="true" required="true" requiredMessage="Please enter confirm Password"/>
	                         </h:panelGroup>
	                         
	                         
	                          <p:commandButton styleClass="btn btn-block btn-success"  onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Change Password" icon="fa fa-key" update="@form" actionListener="#{changePasswordUI.changeUserPassword}"/>
						</p:panelGrid> 
					</h:form>
					<br/>
					<br/>
                </div>
       
      </section>
     
    </div>
  </div>
  
  <!-- Login footer -->
  <ui:include src="./loginFooter.xhtml"/>
  
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<!-- <h:outputScript name="AdminLTE/bower_components/jquery/dist/jquery.min.js" /> -->

<!-- Bootstrap 3.3.7 -->
<h:outputScript name="AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js" />

<!-- SlimScroll -->
<h:outputScript name="AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" />

<!-- FastClick -->
<h:outputScript name="AdminLTE/bower_components/fastclick/lib/fastclick.js" />

<!-- AdminLTE App -->
<h:outputScript name="AdminLTE/dist/js/adminlte.min.js" />

<!-- AdminLTE for demo purposes -->
<h:outputScript name="AdminLTE/dist/js/demo.js" />

</body>
</html>
