<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:hf="http://highfaces.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<h:head></h:head>

<body>

	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		<ui:define name="content">
		
			<h:panelGroup rendered="#{!profileUI.currentUser.changePassword}">
				<!-- Main content -->
				<section class="content"> <h:form id="mainForm">
					<div class="box box-default color-palette-box">
						<div class="box-header with-border">
							<h3 class="box-title">
								<i class="fa  fa-dashboard"></i> Dashboard
							</h3>
						</div>
						<p:panelGrid class="list-group-item" style="width:100%" columns="1"
							layout="grid"
							rendered="#{not empty customerUI.company.companyName}">
							<br />
							<div class="alert alert-info">
								<center>
									<h4>
										Hi <strong><p>#{profileUI.currentUser.name}
												#{profileUI.currentUser.surname} !!</p></strong> Welcome to <span
											class="logo-lg"><b>Company Consulting</b></span>
									</h4>
								</center>
							</div>
						</p:panelGrid>
	
					</div>
					<div class="box box-default color-palette-box">
						<h:panelGrid columns="2" cellpadding="10">
							<hf:chart type="pie" title="Series with individual lists">
								<hf:chartSerie name="Boys" value="#{lineChartBean.boys}"
									var="point" point="#{point.amount}" tickLabel="#{point.year}"
									dataLabel="&lt;b>{point.name}&lt;/b>: {point.percentage:.1f} % &lt;i>({point.y})&lt;/i>" />
							</hf:chart>
							<hf:chart type="line" title="Series with individual lists"
								xaxisLabel="Year" yaxisLabel="Amount">
								<hf:chartSerie name="Boys" value="#{lineChartBean.boys}"
									var="point" point="#{point.amount}" tickLabel="#{point.year}" />
								<hf:chartSerie name="Girls" value="#{lineChartBean.girls}"
									var="point" point="#{point.amount}" />
								<hf:chartTooltip backgroundColor="#ffff88" shared="true" />
							</hf:chart>
							<hf:chart type="pie" title="Series with individual lists">
								<hf:chartSerie name="Boys" value="#{lineChartBean.boys}"
									var="point" point="#{point.amount}" tickLabel="#{point.year}" />
							</hf:chart>
							<hf:chart type="pie" title="Series with individual lists"
								alpha3d="45" beta3d="0">
								<hf:chartSerie name="Boys" value="#{lineChartBean.boys}"
									var="point" point="#{point.amount}" tickLabel="#{point.year}" />
							</hf:chart>
						</h:panelGrid>
					</div>
					<div class="box box-default color-palette-box">
						<p:panelGrid columns="1" layout="grid"
							rendered="#{not empty customerUI.company.companyName}">
							<p:panel id="basic" footer="Employees Details"
								style="margin-bottom:20px">
								<h:panelGrid columns="2" cellpadding="10">
									<h:form id="employeesTableForm">
										<p:fieldset id="registeredEmployes" legend="Company Employees">
											<p:commandButton class="btn btn-primary btn-xs"
												oncomplete="PF('empDialog').show()" value="New Employee"
												icon="fa fa-user" title="New Company" process="@this"
												update="empDialog">
												<f:setPropertyActionListener value="#{companyUI.company}"
													target="#{companyUI.company}" />
											</p:commandButton>
											<br></br>
											<br></br>
											<p:dataTable id="registeredCustomersTable" var="employee"
												value="#{companyUI.companyEmployeeList}" reflow="true"
												rows="5" paginatorPosition="bottom" paginator="true">
												<p:column class="text-center" headerText="Id Number"
													sortBy="#{employee.user.rsaId}">
													<h:outputText value="#{employee.user.rsaId}" />
												</p:column>
												<p:column class="text-center" headerText="Employee Name"
													sortBy="#{employee.user.name}">
													<h:outputText value="#{employee.user.name}" />
												</p:column>
												<p:column class="text-center" headerText="Lastname">
													<h:outputText value="#{employee.user.surname}" />
												</p:column>
												<p:column class="text-center" headerText="Cell Number">
													<h:outputText value="#{employee.user.cellNumber}" />
												</p:column>
												<p:column class="text-center" headerText="Email">
													<h:outputText value="#{employee.user.email}" />
												</p:column>
											</p:dataTable>
										</p:fieldset>
									</h:form>
								</h:panelGrid>
							</p:panel>
	
						</p:panelGrid>
					</div>
				</h:form>
				<div class="box box-default color-palette-box">
					<h:form id="addCompanyFRM">
						<p:panelGrid class="list-group-item" style="width:100%" columns="1"
							layout="grid" rendered="#{empty customerUI.company.companyName}">
							<div class="alert alert-info">
								<h3 class="section-title text-center">Create company profile</h3>
							</div>
							<p:panelGrid class="list-group-item" style="width:100%"
								columns="2" layout="grid">
								<h:panelGroup styleClass="md-inputfield">
									<p:outputLabel class="box-title" value="Company Name"
										for="companyName" />
									<p:inputText id="companyName"
										value="#{companyUI.company.companyName}" style="width:100%"
										required="true" requiredMessage="Please enter company name" />
								</h:panelGroup>
	
								<h:panelGroup styleClass="md-inputfield">
									<p:outputLabel value="Trading Name" for="tradinName" />
									<p:inputText id="tradinName"
										value="#{companyUI.company.tradinName}" style="width:100%"
										required="true" requiredMessage="Please enter tradin name" />
								</h:panelGroup>
	
								<h:panelGroup styleClass="md-inputfield">
									<p:outputLabel value="Registration Number"
										for="registrationNumber" />
									<p:inputText id="registrationNumber"
										value="#{companyUI.company.registrationNumber}"
										style="width:100%" required="true"
										requiredMessage="Please enter registration number" />
								</h:panelGroup>
	
								<h:panelGroup styleClass="md-inputfield">
									<p:outputLabel value="Tel Number" for="telNumber" />
									<p:inputText id="telNumber"
										value="#{companyUI.company.telNumber}" style="width:100%"
										required="true" requiredMessage="Please enter tel number" />
								</h:panelGroup>
	
								<h:panelGroup styleClass="md-inputfield">
									<p:outputLabel value="Fax Number" for="faxNumber" />
									<p:inputText id="faxNumber"
										value="#{companyUI.company.faxNumber}" style="width:100%"
										required="true" requiredMessage="Please enter fax number" />
								</h:panelGroup>
	
								<h:panelGroup styleClass="md-inputfield">
									<p:outputLabel value="Company Emai" for="email" />
									<p:inputText id="email" value="#{companyUI.company.email}"
										style="width:100%" required="true"
										requiredMessage="Please enter email" />
								</h:panelGroup>
	
								<p:fieldset legend="Residential Address">
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel value="Address line 1" for="resAddressLine1" />
										<p:inputText id="resAddressLine1"
											value="#{companyUI.resAddress.addressLine1}"
											style="width:100%" required="true"
											requiredMessage="Please enter residential address line 1" />
									</h:panelGroup>
	
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel value="Address line 2" for="resAddressLine2" />
										<p:inputText id="resAddressLine2"
											value="#{companyUI.resAddress.addressLine2}"
											style="width:100%" required="true"
											requiredMessage="Please enter residential address line 2" />
									</h:panelGroup>
	
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel value="Address line 3" for="resAddressLine3" />
										<p:inputText id="resAddressLine3"
											value="#{companyUI.resAddress.addressLine3}"
											style="width:100%" />
									</h:panelGroup>
	
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel value="Address line 4" for="resAddressLine4" />
										<p:inputText id="resAddressLine4"
											value="#{companyUI.resAddress.addressLine4}"
											style="width:100%" required="true"
											requiredMessage="Please enter residential address line 4" />
									</h:panelGroup>
									
									 <h:panelGroup styleClass="md-inputfield">
								   	    <p:outputLabel value="Postal Code" for="pCode" />
			                            <p:inputText type="number"  id="pCode" value="#{companyUI.resAddress.postCode}"  style="width:100%" required="true" requiredMessage="Please enter postal code"/>
				                     </h:panelGroup>
	
								</p:fieldset>
	
								<p:fieldset legend="Postal Address">
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel value="Address line 1" for="postAddressLine1" />
										<p:inputText id="postAddressLine1"
											value="#{companyUI.postAddress.addressLine1}"
											style="width:100%" required="true"
											requiredMessage="Please enter postal address line 1" />
									</h:panelGroup>
	
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel value="Address line 2" for="postAddressLine2" />
										<p:inputText id="postAddressLine2"
											value="#{companyUI.postAddress.addressLine2}"
											style="width:100%" required="true"
											requiredMessage="Please enter postal address line 2" />
									</h:panelGroup>
	
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel value="Address line 3" for="postAddressLine3" />
										<p:inputText id="postAddressLine3"
											value="#{companyUI.postAddress.addressLine3}"
											style="width:100%" />
									</h:panelGroup>
	
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel value="Address line 4" for="postAddressLine4" />
										<p:inputText id="postAddressLine4"
											value="#{companyUI.postAddress.addressLine4}"
											style="width:100%" required="true"
											requiredMessage="Please enter postal address line 4" />
									</h:panelGroup>
									
									  <h:panelGroup styleClass="md-inputfield">
								   	 	 <p:outputLabel value="Postal Code" for="pCode1" />
			                            <p:inputText type="number"  id="pCode1" value="#{companyUI.postAddress.postCode}"  style="width:100%" required="true" requiredMessage="Please enter postal code"/>
				                     </h:panelGroup>
								</p:fieldset>
								<h:panelGroup styleClass="md-inputfield">
									<p:commandButton value="Submit" icon="fa fa-save"
										class="btn btn-primary" update="@form mainForm"
										actionListener="#{companyUI.addCompany}" />
									<p:spacer width="50"></p:spacer>
									<p:commandButton value="Clear" icon="fa fa-recycle"
										class="btn orange-btn" update="@form mainForm"
										actionListener="#{companyUI.clearCompanyInfo}" />
								</h:panelGroup>
							</p:panelGrid>
	
						</p:panelGrid>
					</h:form>
				</div>
	
				<p:dialog widgetVar="empDialog" hideEffect="clip" showEffect="clip"
					id="empDialog" appendTo="@(body)" modal="true" closable="true"
					width="70%" height="80%" responsive="true" closeOnEscape="true">
					<f:facet name="header">
						<h4 class="box-title">#{companyUI.company.companyName}
							Employees</h4>
					</f:facet>
	
					<h:form id="empForm">
	
						<p:panelGrid columns="2" style="width:100%">
							<h:panelGroup styleClass="md-inputfield">
								<small><p:outputLabel value="Enter ID Number" for="idNum" /></small>
								<p:inputMask mask="#{commonUI.ID_NUMBER_FORMAT}"
									value="#{companyUI.user.rsaId}" id="idNum" style="width:100%"
									required="true" requiredMessage="Please enter id number" />
							</h:panelGroup>
	
							<h:panelGroup styleClass="md-inputfield">
								<small><p:outputLabel value="Title" /></small>
								<p:selectOneMenu id="title" value="#{companyUI.user.title}"
									converter="#{titleConvertor}" style="width:100%"
									requiredMessage="Select title" required="true">
									<f:selectItem itemLabel="---Select Title---"
										noSelectionOption="true" />
									<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv"
										itemLabel="#{rv.description}" itemValue="#{rv}" />
								</p:selectOneMenu>
								` </h:panelGroup>
	
							<h:panelGroup styleClass="md-inputfield">
								<small><p:outputLabel value="Enter Name" for="name" /></small>
								<p:inputText
									validatorMessage="Please enter a valid name. Ensure that no special charectors or numbers are provided"
									value="#{companyUI.user.name}" id="name" style="width:100%"
									required="true" requiredMessage="Please enter your name">
									<f:validateRegex pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
								</p:inputText>
							</h:panelGroup>
	
							<h:panelGroup styleClass="md-inputfield">
								<small><p:outputLabel value="Enter Surname" for="surname" /></small>
								<p:inputText
									validatorMessage="Please enter a valid surname Ensure that no special charectors or numbers are provided"
									value="#{companyUI.user.surname}" id="surname"
									style="width:100%" required="true"
									requiredMessage="Please enter your surname">
									<f:validateRegex pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
								</p:inputText>
							</h:panelGroup>
	
							<h:panelGroup styleClass="md-inputfield">
								<small><p:outputLabel value="Enter Cell Number"
										for="cell" /></small>
								<p:inputMask mask="#{commonUI.CELLPHONE_FORMAT}"
									value="#{companyUI.user.cellNumber}" id="cell"
									style="width:100%" required="true"
									requiredMessage="Please enter cell numbere" />
							</h:panelGroup>
	
							<h:panelGroup styleClass="md-inputfield">
								<small><p:outputLabel value="Enter Email" for="email" /></small>
								<p:inputText value="#{companyUI.user.email}" id="email"
									style="width:100%" required="true" type="email"
									requiredMessage="Please enter email address" />
							</h:panelGroup>
						</p:panelGrid>
	
						<p:panelGrid class="list-group-item" style="width:100%" columns="2"
							layout="grid">
							<h:panelGroup styleClass="md-inputfield">
								<p:commandButton icon="fa fa-save" value="Submit"
									class="btn btn-primary" update="@form"
									actionListener="#{companyUI.addEmployee}" />
								<p:spacer width="50"></p:spacer>
								<p:commandButton icon="fa fa-recycle" value="Clear"
									class="btn orange-btn" update="@form"
									actionListener="#{companyUI.crearUser}" />
							</h:panelGroup>
						</p:panelGrid>
	
	
					</h:form>
				</p:dialog> </section>
			</h:panelGroup>
		</ui:define>
	</ui:composition>

</body>

</html>