<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

   <h:head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <title>Login</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
  <!-- Bootstrap 3.3.7 -->
  <h:outputStylesheet name="AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  
  <!-- Font Awesome -->
  <h:outputStylesheet name="AdminLTE/bower_components/font-awesome/css/font-awesome.min.css" />
  
  <!-- Ionicons -->
  <h:outputStylesheet name="AdminLTE/bower_components/Ionicons/css/ionicons.min.css" />
  
  <!-- Theme style -->
  <h:outputStylesheet name="AdminLTE/dist/css/AdminLTE.min.css" />
  
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <h:outputStylesheet name="AdminLTE/dist/css/skins/_all-skins.min.csss" />

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
  
   </h:head>


<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<!-- <body class="hold-transition skin-blue layout-top-nav"> -->
<body class="hold-transition #{commonUI.theme} fixed layout-top-nav">
<div class="wrapper">

	<!-- Login Header -->
	<ui:include src="./loginHeader.xhtml"/>
  
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Main content -->
      <section class="content">
      	 <p:growl autoUpdate="true"  showSummary="false" showDetail="true" sticky="false" id="growl">
		 </p:growl>
	    <div class="login-box widget-user-header bg-blue">
	    	
			<hr/>
		    <div>
				   <center><h2><i class="fa fa-refresh"></i><b> RESET	 PASSWORD</b></h2></center>
			</div>
			
			<h:form id="userRoleDialogForm">
			 <div class="login-box-body">
				<p:panelGrid  columns="1"  style="width:100%" >
					<h:panelGroup styleClass="md-inputfield">
			        	 <p:outputLabel value="Enter email" for="username1" />
					 	 <p:inputText type="email" id="username1" style="width:100%"  value="#{forgotPasswordUI.email}" required="true" requiredMessage="Please enter your email" />
					</h:panelGroup>
					
					<h:outputText value="&#160;" />
					
					<h:panelGroup styleClass="md-inputfield">
					  	   <p:commandButton style="width:100%" onstart="PF('loading').show()"  oncomplete="PF('loading').hide()" value="SUBMIT" styleClass="btn btn-block btn-success" update="@form" actionListener="#{forgotPasswordUI.submit}" />
					 </h:panelGroup>
					 <h:panelGroup  styleClass="md-inputfield" style="width:100%">
						<div class="social-auth-links text-center">
							<div class="social-auth-links text-center">
								<a href="#{request.contextPath}/login.xhtml" class="btn btn-block btn-social btn-twitter"><i class="fa fa-lock"></i>GO TO LOGIN PAGE</a>
							</div>
						</div>	
					</h:panelGroup>
				 </p:panelGrid>
			</div>
			</h:form>
	    </div>
      
      
       
      </section>
    </div>
  </div>
  
  <!-- Login footer -->
  <ui:include src="./loginFooter.xhtml"/>
  
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<!-- <h:outputScript name="AdminLTE/bower_components/jquery/dist/jquery.min.js" /> -->

<!-- Bootstrap 3.3.7 -->
<h:outputScript name="AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js" />

<!-- SlimScroll -->
<h:outputScript name="AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" />

<!-- FastClick -->
<h:outputScript name="AdminLTE/bower_components/fastclick/lib/fastclick.js" />

<!-- AdminLTE App -->
<h:outputScript name="AdminLTE/dist/js/adminlte.min.js" />

<!-- AdminLTE for demo purposes -->
<h:outputScript name="AdminLTE/dist/js/demo.js" />

</body>
</html>
