<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

     <body>
	    <ui:composition>
		   <!-- /.content-wrapper -->
		  <footer class="main-footer">
		    <div class="container">
		      <div class="pull-right hidden-xs">
		        <b>Version</b> 2.4.0
		      </div>
		      <strong>Copyright @; 2014-2018 <a href="#">Company Consulting</a>.</strong> All rights
		      reserved.
		    </div>
		    <!-- /.container -->
		  </footer>
		  
		  <!-- Global loading Dialog -->
		<p:dialog widgetVar="loading" hideEffect="clip" showEffect="clip" id="loading" appendTo="@(body)" modal="true" closable="true" width="25%" height="25%" responsive="true" closeOnEscape="true">
			 <div class="col-md-12">
				  <div>
				 	<div class="overlay">
			              <i class="fa fa-spinner fa-spin " style="size: 100%;"></i> Loading, Please wait...
			         </div>
			       </div>
		       </div>
		</p:dialog>
	   </ui:composition>
    </body>
</html>
