<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

   <h:head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <title>Register</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
  <!-- Bootstrap 3.3.7 -->
  <h:outputStylesheet name="AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  
  <!-- Font Awesome -->
  <h:outputStylesheet name="AdminLTE/bower_components/font-awesome/css/font-awesome.min.css" />
  
  <!-- Ionicons -->
  <h:outputStylesheet name="AdminLTE/bower_components/Ionicons/css/ionicons.min.css" />
  
  <!-- Theme style -->
  <h:outputStylesheet name="AdminLTE/dist/css/AdminLTE.min.css" />
  
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <h:outputStylesheet name="AdminLTE/dist/css/skins/_all-skins.min.csss" />

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
  
   </h:head>


<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<!-- <body class="hold-transition skin-blue layout-top-nav"> -->
<body class="hold-transition #{commonUI.theme} fixed layout-top-nav">
<div class="wrapper">

	<!-- Login Header -->
	<ui:include src="./loginHeader.xhtml"/>
  
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Main content -->
      <section class="content">
      	 <p:growl autoUpdate="true"  showSummary="false" showDetail="true" sticky="false" id="growl">
		 </p:growl>
	    <div class="login-box widget-user-header bg-blue">
	    		<hr/>
		    	<div>
				    <center><h2><i class="fa fa-list"></i><b> REGISTER</b></h2></center>
				</div>
				 <h:form id="mainForm">
				 <div class="login-box-body">
						<p:panelGrid  columns="1"  style="width:100%" >
								
						          <h:panelGroup styleClass="md-inputfield">
									   <small><p:outputLabel value="ID Number" for="idNum" /></small>
					                   <p:inputMask mask="#{commonUI.ID_NUMBER_FORMAT}" value="#{userUI.user.rsaId}" id="idNum"  style="width:100%" required="true"   requiredMessage="Please enter id number"/>
						          </h:panelGroup>
						          
						          <h:panelGroup styleClass="md-inputfield">
										<small><p:outputLabel value="Title"  /></small>
										<p:selectOneMenu id="title" value="#{userUI.user.title}"  converter="#{titleConvertor}"  style="width:100%" requiredMessage="Select title" required="true">
											<f:selectItem itemLabel="---Select Title---" noSelectionOption="true" />
											<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
										</p:selectOneMenu>
								</h:panelGroup>	
										   
								 <h:panelGroup styleClass="md-inputfield">
									   <small><p:outputLabel value="Name" for="name" /></small>
					                   <p:inputText validatorMessage="Please enter a valid name. Ensure that no special charectors or numbers are provided" value="#{userUI.user.name}"  id="name"  style="width:100%" required="true" requiredMessage="Please enter your name">
					                   	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
					                   </p:inputText>
						           </h:panelGroup>
						                     
						          <h:panelGroup styleClass="md-inputfield">
										<small><p:outputLabel value="Surname" for="surname" /></small>
					                    <p:inputText validatorMessage="Please enter a valid surname Ensure that no special charectors or numbers are provided" value="#{userUI.user.surname}" id="surname"  style="width:100%" required="true"  requiredMessage="Please enter your surname">
					                    	<f:validateRegex  pattern="#{commonUI.NAME_FORMAT}"></f:validateRegex>
					                    </p:inputText>
						           </h:panelGroup>
						                     
						           <h:panelGroup styleClass="md-inputfield">
									     <small><p:outputLabel value="Cell Number" for="cell" /></small>
					                     <p:inputMask  mask="#{commonUI.CELLPHONE_FORMAT}"   value="#{userUI.user.cellNumber}" id="cell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
						           </h:panelGroup>
						                     
						            <h:panelGroup styleClass="md-inputfield">
										 <small><p:outputLabel value="Enter Email" for="email" /></small>
					                     <p:inputText value="#{userUI.user.email}" id="email"  style="width:100%" required="true" type="email"  requiredMessage="Please enter email address"/>
						             </h:panelGroup>
						             
						              <h:panelGroup styleClass="md-inputfield">
										   <small><p:outputLabel value="Vat Number" for="vatNum" /></small>
						                   <p:inputText  value="#{userUI.user.vatNumber}"  id="vatNum"  style="width:100%" required="false" requiredMessage="Please enter your vat number">
						                   </p:inputText>
							           </h:panelGroup>
						                     
						             <h:panelGroup styleClass="md-inputfield" rendered="false">
										  <small><p:outputLabel value="Password" for="pass" /></small>
					                      <p:password value="#{userUI.user.password}" id="pass" feedback="true" style="width:100%" inline="true" />
					                 </h:panelGroup>
					                 
					                 <h:panelGroup styleClass="md-inputfield">      
						             	 <p:commandButton onstart="PF('loading').show()"  oncomplete="PF('loading').hide()" value="REGISTER" styleClass="btn btn-block btn-success" style="width:100%"  action="#{userUI.registeUser}"/>
						             </h:panelGroup>
						             
						             <h:panelGroup  styleClass="md-inputfield" style="width:100%">
								        <div class="social-auth-links text-center">
								        	 <div class="social-auth-links text-center">
									           <a href="#{request.contextPath}/login.xhtml" class="btn btn-block btn-social btn-twitter"><i class="fa fa-lock"></i>GO TO LOGIN PAGE</a>
									        </div>
									    </div>	
								    </h:panelGroup>
					        </p:panelGrid>
					       
					        
						</div>
				</h:form>
	    
	    </div>
      
      
       
      </section>
    </div>
  </div>
  
  <!-- Login footer -->
  <ui:include src="./loginFooter.xhtml"/>
  
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<!-- <h:outputScript name="AdminLTE/bower_components/jquery/dist/jquery.min.js" /> -->

<!-- Bootstrap 3.3.7 -->
<h:outputScript name="AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js" />

<!-- SlimScroll -->
<h:outputScript name="AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" />

<!-- FastClick -->
<h:outputScript name="AdminLTE/bower_components/fastclick/lib/fastclick.js" />

<!-- AdminLTE App -->
<h:outputScript name="AdminLTE/dist/js/adminlte.min.js" />

<!-- AdminLTE for demo purposes -->
<h:outputScript name="AdminLTE/dist/js/demo.js" />

</body>
</html>
