<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

 <p:dialog widgetVar="schoolDialog" position="top" style="margin-top:10px" hideEffect="clip" showEffect="clip" id="schoolDialog" appendTo="@(body)" modal="true" closable="true" width="90%" height="100%" responsive="true" closeOnEscape="true">
				<f:facet name="header">
		              <h4 class="box-title">School Information</h4>
		        </f:facet>
				<p:scrollPanel   mode="native" style="width:100%;height:600px">
					<h:form id="schoolDialogForm">
							
							<p:panelGrid columns="3" style="width:100%;margin:0px">
								<f:facet name="header">
							        #{institutionUI.institution.officialInstitutionName} is accredited with the Gauteng Department of Education
							    </f:facet>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Official Institution Name:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.officialInstitutionName}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Status:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.instStatusEnum.friendlyName}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Province:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.provinceLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Sector:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.sectorLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Type DoE:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.typeDoELookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Phase PED:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.phasePEDLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Specialisation:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.specialisationLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Owner Land:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.ownerLandLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Owner Building:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.ownerBuildingLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Owner Land:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.ownerLandLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Ex Dept:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.exDeptLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Component:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.componetNo}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Exam Centre:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.examCentreLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Exam Number:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.examNo}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Department Municipality Name:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.deptMunNameLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Local Municipality Name:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.localMunNameLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Ward Number:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.wardLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Sub Place:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.subPlaceLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Region:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.regionLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">District:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.districtLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Circuit:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.circuitLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Addr Init:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.addrInitLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Addreessee:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.addreesseeLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Township Village:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.townshipVillageLookup.description}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Town/City:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.townCityLookup.description}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">telephone Number:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.telNum}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Section:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.section.friendlyName}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Section Function:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.section21Funct}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Quantile:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.quantile}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Registration Date:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.registrationDate}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">No Fee School:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.noFeeSchoolEnum.friendlyName}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">allocation:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.allocation}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Nodal Area:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.nodalArea}</p>
								</h:panelGroup>
								
							    <h:panelGroup>
									<p style="margin: 0">Urban/Rural:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.urbanRuralEnum.friendlyName}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Number Of Learners in #{institutionUI.institution.learnersAndEducators.year}:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.learnersAndEducators.learners}</p>
								</h:panelGroup>
								
								<h:panelGroup>
									<p style="margin: 0">Number Of Educators in #{institutionUI.institution.learnersAndEducators.year}:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.learnersAndEducators.educators}</p>
								</h:panelGroup>
								
								
								<h:panelGroup>
									<p style="margin: 0">Address Line 1:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.address.addressLine1}</p>
								</h:panelGroup>
								<h:panelGroup>
									<p style="margin: 0">Address Line 2:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.address.addressLine2}</p>
								</h:panelGroup>
								<div style="color:#000000">
									<p style="margin: 0">Address Line 3:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.address.addressLine3}</p>
								</div>
								<h:panelGroup>
									<p style="margin: 0">Address Line 4:</p>
									<p style="margin: 0;color:black">#{institutionUI.institution.address.addressLine4}</p>
								</h:panelGroup>
							</p:panelGrid>
					</h:form>
				</p:scrollPanel>
			</p:dialog>

</ui:composition>