<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-user"></i> Profile</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	  <div class="row">
								 	      <!-- Profile Image -->
								 	       <div class="col-md-3">
									          <div class="box box-primary">
									          
									          <h:form id="imageForm">
									            <div class="box-body box-profile">
									            	  <br/>									            	              
										               	<p:graphicImage cache="false"  value="#{profileUI.imageFromDB}" id="profileImg" styleClass="profile-user-img img-responsive img-circle" rendered="true"/>																
									                  <br/>
									            	  <h:panelGroup styleClass="md-inputfield">
										                     		
									                         </h:panelGroup>									                         
										                          <h:panelGroup styleClass="md-inputfield">
										                          	    <p:fileUpload  fileUploadListener="#{profileUI.handleFileUpload}" mode="advanced"
	                    												 update="@form profileImg profileImg2 profileImg3" immediate="true" label="Select Profile Image" auto="true"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
										                         </h:panelGroup>									                          
									                          <h:panelGroup styleClass="md-inputfield">
										                     		
									                         </h:panelGroup>
									            	  
									            	  
									            	  <li class="list-group-item">
									            	  	<strong><p>#{profileUI.currentUser.name} #{profileUI.currentUser.surname}</p></strong>
									            	  </li>
									            	  <li class="list-group-item">
	                                                      <strong><i class="fa  fa-unlock"></i> ROLES</strong>
	                                                   </li>
									            	  <li class="list-group-item">											             
											                <p:repeat value="#{profileUI.userRoles}" var="userrole">
											                	<span class="label label-success">#{userrole.role.description}</span>	
														    </p:repeat>											             
										              </li>
										              
										               <li class="list-group-item">
	                                                      <strong><i class="fa  fa-envelope"></i> CONTACTS</strong>
	                                                   </li>
	                                                   <li class="list-group-item">
	                                                      <i class="fa   fa-envelope-square"></i> #{profileUI.currentUser.email}
	                                                   </li>
	                                                    <li class="list-group-item">
	                                                      <i class="fa  fa-phone-square"></i> #{profileUI.currentUser.cellNumber}
	                                                   </li>
	                                                    
									            
									            </div>
									            </h:form>
									          </div>
								          </div>
								          
								          <div class="col-md-9">
								        
									          <div class="box box-primary">
									          	 <div class="box-body">
									           	     <h:form id="userDetailsForm">
									            	 	<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
									   
									    					<strong><i class="fa  fa-user"></i>UPDATE USER DETAILS</strong>
										                    
									                         <h:panelGroup styleClass="md-inputfield">
									                         
									                         </h:panelGroup>
									                         
									                         
									                           <h:panelGroup styleClass="md-inputfield">
                              								 <small><p:outputLabel value="ID Number" for="idNum" /></small>
									                            <p:inputText value="#{profileUI.currentUser.rsaId}" id="idNum"  style="width:100%" disabled="true" required="true"  requiredMessage="Please enter id number"/>
										                     </h:panelGroup>
										                     
										                      <h:panelGroup styleClass="md-inputfield">
														   	 	 <small><p:outputLabel value="Date Of Birth" /></small>
									                            <p:inputText value="#{profileUI.currentUser.dob}"   style="width:100%" disabled="true" >
									                            	<f:convertDateTime pattern="dd MMMM yyyy" />
									                            </p:inputText>
										                     </h:panelGroup>
										                     
										                      <h:panelGroup styleClass="md-inputfield">
														   	 	 <small><p:outputLabel value="Gender" /></small>
									                            <p:inputText value="#{profileUI.currentUser.gender.genderName}"   style="width:100%" disabled="true" />
										                     </h:panelGroup>
														   
														   	 <h:panelGroup styleClass="md-inputfield">
														   	 	 <small><p:outputLabel value="Name" for="name" /></small>
									                            <p:inputText value="#{profileUI.currentUser.name}"  id="name"  style="width:100%" required="true" requiredMessage="Please enter your name"/>
										                     </h:panelGroup>
										                     
										                      <h:panelGroup styleClass="md-inputfield">
														   	 	 <small><p:outputLabel value="Surname" for="surname" /></small>
									                            <p:inputText value="#{profileUI.currentUser.surname}" id="surname"  style="width:100%" required="true"  requiredMessage="Please enter your surname"/>
										                     </h:panelGroup>
										                     
										                      <h:panelGroup styleClass="md-inputfield">
														   	 	 <small><p:outputLabel value="Cell Number" for="cell" /></small>
									                            <p:inputText  value="#{profileUI.currentUser.cellNumber}" id="cell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
										                     </h:panelGroup>
										                     
										                      <h:panelGroup styleClass="md-inputfield">
														   	 	 <small><p:outputLabel value="Email" for="email" /></small>
									                            <p:inputText value="#{profileUI.currentUser.email}" id="email"  style="width:100%" required="true"  requiredMessage="Please enter email address"/>
										                     </h:panelGroup>
										                     
										                      <h:panelGroup styleClass="md-inputfield">
														   	 	 <small><p:outputLabel value="Vat Number" for="vatNo" /></small>
									                            <p:inputText value="#{profileUI.currentUser.vatNumber}" id="vatNo"  style="width:100%"/>
										                     </h:panelGroup>
									                         
									                          <p:commandButton value="Submit" onstart="PF('loading').show()"  oncomplete="PF('loading').hide()" icon="fa fa-save" update="@form" actionListener="#{profileUI.updateUser}"/>
															</p:panelGrid>
														 </h:form>
														 
														 <h:form id="loginDetailsForm">
														 	
										            	 	<p:panelGrid  class="list-group-item" style="width:100%" columns="2" layout="grid" >
										   
		                                                         <strong><i class="fa  fa-lock"></i>UPDATE PASSWORD</strong>
											                     <h:panelGroup styleClass="md-inputfield">
										                         </h:panelGroup>
										                         
											                      <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Enter Old Password" for="oldPass" /></small>
										                            <p:password value="#{profileUI.password}" id="oldPass"  style="width:100%" required="true"  requiredMessage="Please enter email address"/>
											                     </h:panelGroup>
											                     
											                     <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Enter New Password" for="newPass" /></small>
										                             <p:password value="#{profileUI.newPassword}" id="newPass" feedback="true" style="width:100%" inline="true" match="newPass2" required="true" requiredMessage="Please enter new Password" validatorMessage="Passwords do not match"/>
										                         </h:panelGroup>
										                         
										                         <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Confirm New Password" for="newPass2" /></small>
										                             <p:password value="#{profileUI.newPassword}" id="newPass2" feedback="true" style="width:100%" inline="true" required="true" requiredMessage="Please enter confirm Password"/>
										                         </h:panelGroup>
										                         
										                         <h:panelGroup styleClass="md-inputfield">
										                         </h:panelGroup>
										                         
										                          <p:commandButton value="Change Password" onstart="PF('loading').show()"  oncomplete="PF('loading').hide()" icon="fa fa-key" update="@form" actionListener="#{profileUI.updateUserPassword}"/>
															</p:panelGrid>
														 </h:form>
													</div>
									           
									          </div>
								          </div>
								          
								          
								 	 </div>
					   			 </div>
					   		 </div>
				
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
