<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
<h:head></h:head> 
<body>
	<ui:composition template="/WEB-INF/template/commonLayout.xhtml">
		 <p:importEnum type="com.pc.entity.enums.YesNoEnum" />
		<ui:define name="content">
			 <!-- Main content -->
		    <section class="content">
		    		<h:form id="mainForm">
		    		 <p:growl id="growl" sticky="true" showDetail="true"/>
			    		<div class="box box-default color-palette-box">
							<div class="box-header with-border">
								 <h3 class="box-title"><i class="fa fa-user"></i> Client</h3>
							 </div>
							     <div class="box box-default color-palette-box">
								 	   <div class="box-body">
								 	   <h:form id="acForm">
								 	       <p:wizard flowListener="#{addClientUI.onFlowProcess}" >
										        <p:tab id="accHolder" title="Account Holder"  style="width:100%" >
										        	
										        	<div class="box box-default color-palette-box">
												        	<div class="box-header with-border">
																 <h3 class="box-title"><i class="fa fa-user"></i> Account Holder Details</h3>
															 </div>
											            
											               <p:panelGrid  class="list-group-item" style="width:100%" columns="2"  rendered="#{!addClientUI.doneSearchAccHolder}" layout="grid" >
											                	 <h:panelGroup>
															   	    <small><p:outputLabel value="Enter ID Number" for="idNumS" /></small>
										                            <p:inputText value="#{addClientUI.acID}" id="idNumS"  style="width:100%" required="true"  requiredMessage="Please enter id number"/>
											                     </h:panelGroup>
											                     <h:panelGroup>
											                        <br/>
															   	    <p:commandButton value="GO!" action="#{addClientUI.searchAccountHolder}"  update="mainForm" />
											                     </h:panelGroup>
											                </p:panelGrid>
											                
											                	<p:panelGrid  class="list-group-item" style="width:100%" columns="2"  rendered="#{addClientUI.doneSearchAccHolder}" layout="grid" >
											                 	
											                 	 <h:panelGroup styleClass="md-inputfield">
															   	    <small><p:outputLabel value="Enter ID Number" for="idNum" /></small>
										                            <p:inputText value="#{addClientUI.accountHolder.rsaId}" id="idNum"  style="width:100%" required="true"  requiredMessage="Please enter id number"/>
											                     </h:panelGroup>
											                 	 
											                 	 
											                 	 <h:panelGroup styleClass="md-inputfield">
																		<small><p:outputLabel value="Gender"  /></small>
																		<p:selectOneMenu id="gender" value="#{addClientUI.accountHolder.gender}" converter="#{genderConvertor}"  style="width:100%" requiredMessage="Select gender" required="true">
																			<f:selectItem itemLabel="---Select Gender---" noSelectionOption="true" />
																			<f:selectItems value="#{commonItemUI.selectItemsGender}" var="rv" itemLabel="#{rv.genderName}" itemValue="#{rv}" />
																		</p:selectOneMenu>
																  </h:panelGroup>
																  
																  <h:panelGroup styleClass="md-inputfield">
																		<small><p:outputLabel value="Title"  /></small>
																		<p:selectOneMenu id="title" value="#{addClientUI.accountHolder.title}"  converter="#{titleConvertor}"  style="width:100%" requiredMessage="Select title" required="true">
																			<f:selectItem itemLabel="---Select Title---" noSelectionOption="true" />
																			<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
																		</p:selectOneMenu>
																  </h:panelGroup>
																  
											                 	 <h:panelGroup styleClass="md-inputfield" >
															   	 	 <small><p:outputLabel value="Enter Name" for="name" /></small>
										                            <p:inputText value="#{addClientUI.accountHolder.name}"   id="name"  style="width:100%" required="true" requiredMessage="Please enter your name"/>
											                     </h:panelGroup>
											                     
											                      <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Enter Surname" for="surname" /></small>
										                            <p:inputText value="#{addClientUI.accountHolder.surname}"  id="surname"  style="width:100%" required="true"  requiredMessage="Please enter your surname"/>
											                     </h:panelGroup>
																				                     
											                      <h:panelGroup styleClass="md-inputfield" >
															   	 	 <small><p:outputLabel value="Enter Cell Number" for="cell" /></small>
										                            <p:inputText  value="#{addClientUI.accountHolder.cellNumber}" id="cell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
											                     </h:panelGroup>
											                     
											                      <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Enter Email" for="email" /></small>
										                            <p:inputText value="#{addClientUI.accountHolder.email}" id="email"  style="width:100%" required="true"  requiredMessage="Please enter email address"/>
											                     </h:panelGroup>
											                     
											                     <h:panelGroup styleClass="md-inputfield">
											                     
											                     </h:panelGroup>
											                     
											                     <p:commandButton class="btn orange-btn" update="mainForm"  icon="fa  fa-recycle" title="clear" value="Clear" process="@this"  action="#{addClientUI.resetAccountHolder}"/>
																
											                </p:panelGrid>
											           </div>
										        </p:tab>
										        
										        <p:tab id="acAddress" title="Account Holder Address">
										        
											        <div class="box box-default color-palette-box">
												        	<div class="box-header with-border">
																 <h3 class="box-title"><i class="fa fa-map-marker"></i> Residential Address</h3>
															 </div>
												        	<p:panelGrid  class="list-group-item" style="width:100%" columns="2"  rendered="true" layout="grid" >
													               <h:panelGroup>
																	    <small><p:outputLabel value="Address Line 1" for="line1" /></small>
												                        <p:inputText id="line1" value="#{addClientUI.accHolderResidentialAddress.addressLine1}" style="width:100%" required="true"  requiredMessage="Please residential address line 1"/>
													                </h:panelGroup>
													                <h:panelGroup>
																	    <small><p:outputLabel value="Address Line 2" for="line2" /></small>
												                        <p:inputText id="line2" value="#{addClientUI.accHolderResidentialAddress.addressLine2}"  style="width:100%" required="true"  requiredMessage="Please residential address line 2"/>
													                </h:panelGroup>
													                <h:panelGroup>
																	    <small><p:outputLabel value="Address Line 3" for="line3" /></small>
												                        <p:inputText id="line3" value="#{addClientUI.accHolderResidentialAddress.addressLine3}"  style="width:100%" required="true"  requiredMessage="Please residential address line 3"/>
													                </h:panelGroup>
													                <h:panelGroup>
																	    <small><p:outputLabel value="Address Line 4" for="line1" /></small>
												                        <p:inputText id="line4" value="#{addClientUI.accHolderResidentialAddress.addressLine4}"  style="width:100%" required="true"  requiredMessage="Please residential address line 4"/>
													                </h:panelGroup>
													         </p:panelGrid>
											        
											           </div>
											           
											            <div class="box box-default color-palette-box">
												        	<div class="box-header with-border">
																 <h3 class="box-title"><i class="fa fa-map-marker"></i> Postal Address</h3>
															 </div>
												        	<p:panelGrid  class="list-group-item" style="width:100%" columns="2"  rendered="true" layout="grid" >
													               <h:panelGroup>
																	    <small><p:outputLabel value="Address Line 1" for="pline1" /></small>
												                        <p:inputText id="pline1" value="#{addClientUI.accHolderPostalAddress.addressLine1}" style="width:100%" required="true"  requiredMessage="Please postal address line 1"/>
													                </h:panelGroup>
													                <h:panelGroup>
																	    <small><p:outputLabel value="Address Line 2" for="pline2" /></small>
												                        <p:inputText id="pline2" value="#{addClientUI.accHolderPostalAddress.addressLine2}"  style="width:100%" required="true"  requiredMessage="Please postal address line 2"/>
													                </h:panelGroup>
													                <h:panelGroup>
																	    <small><p:outputLabel value="Address Line 3" for="pline3" /></small>
												                        <p:inputText id="pline3" value="#{addClientUI.accHolderPostalAddress.addressLine3}"   style="width:100%" required="true"  requiredMessage="Please postal address line 3"/>
													                </h:panelGroup>
													                <h:panelGroup>
																	    <small><p:outputLabel value="Address Line 4" for="pline1" /></small>
												                        <p:inputText id="pline4" value="#{addClientUI.accHolderPostalAddress.addressLine4}"   style="width:100%" required="true"  requiredMessage="Please postal address line 4"/>
													                </h:panelGroup>
													         </p:panelGrid>
											        
											           </div>
										        </p:tab>
										        
										        
										        <p:tab id="dependent" title="Dependent(s)">
										           <div class="box box-default color-palette-box">
												        	<div class="box-header with-border">
																 <h3 class="box-title"><i class="fa fa-users"></i> Dependents</h3>
															 </div>
											            
											               <p:panelGrid  class="list-group-item" style="width:100%" columns="2"  rendered="#{!addClientUI.doneSearchDependent}" layout="grid" >
											                	 <h:panelGroup>
															   	    <small><p:outputLabel value="Enter ID Number" for="depIdNumS" /></small>
										                            <p:inputText value="#{addClientUI.depID}" id="depIdNumS"  style="width:100%" required="#{!addClientUI.skipToFuneralPlan}"  requiredMessage="Please enter id number"/>
											                     </h:panelGroup>
											                     <h:panelGroup>
											                        <br/>
															   	    <p:commandButton value="GO!" action="#{addClientUI.searchDependent}"  update="mainForm" />
											                     </h:panelGroup>
											                     
											                      <h:panelGroup>
												                      <small><p:outputLabel value="Skip to Funeral Plan:" for="skipToPlan" /></small>
	               												     <p:selectBooleanCheckbox id="skipToPlan" value="#{addClientUI.skipToFuneralPlan}">
																		<p:ajax update="mainForm" />
																	</p:selectBooleanCheckbox>
											               		</h:panelGroup>
											                     
											                </p:panelGrid>
											                
											                <p:panelGrid  class="list-group-item" style="width:100%" columns="2"  rendered="#{addClientUI.doneSearchDependent}" layout="grid" >
											                 	
											                 	 <h:panelGroup styleClass="md-inputfield">
															   	    <small><p:outputLabel value="Enter ID Number" for="depIdNum" /></small>
										                            <p:inputText value="#{addClientUI.dependent.rsaId}" id="depIdNum"  style="width:100%" required="true"  requiredMessage="Please enter id number"/>
											                     </h:panelGroup>
											                 	 
											                 	 
											                 	 <h:panelGroup styleClass="md-inputfield">
																		<small><p:outputLabel value="Gender"  /></small>
																		<p:selectOneMenu id="depGender" value="#{addClientUI.dependent.gender}" converter="#{genderConvertor}"  style="width:100%" requiredMessage="Select gender" required="true">
																			<f:selectItem itemLabel="---Select Gender---" noSelectionOption="true" />
																			<f:selectItems value="#{commonItemUI.selectItemsGender}" var="rv" itemLabel="#{rv.genderName}" itemValue="#{rv}" />
																		</p:selectOneMenu>
																  </h:panelGroup>
																  
																  <h:panelGroup styleClass="md-inputfield">
																		<small><p:outputLabel value="Title"  /></small>
																		<p:selectOneMenu id="depTitle" value="#{addClientUI.dependent.title}"  converter="#{titleConvertor}"  style="width:100%" requiredMessage="Select title" required="true">
																			<f:selectItem itemLabel="---Select Title---" noSelectionOption="true" />
																			<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
																		</p:selectOneMenu>
																  </h:panelGroup>
																  
											                 	 <h:panelGroup styleClass="md-inputfield" >
															   	 	 <small><p:outputLabel value="Enter Name" for="depName" /></small>
										                            <p:inputText value="#{addClientUI.dependent.name}"   id="depName"  style="width:100%" required="true" requiredMessage="Please enter your name"/>
											                     </h:panelGroup>
											                     
											                      <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Enter Surname" for="depSurname" /></small>
										                            <p:inputText value="#{addClientUI.dependent.surname}"  id="depSurname"  style="width:100%" required="true"  requiredMessage="Please enter your surname"/>
											                     </h:panelGroup>
																				                     
											                      <h:panelGroup styleClass="md-inputfield" >
															   	 	 <small><p:outputLabel value="Enter Cell Number" for="depDell" /></small>
										                            <p:inputText  value="#{addClientUI.dependent.cellNumber}" id="depDell"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
											                     </h:panelGroup>
											                     
											                      <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Enter Email" for="depEmail" /></small>
										                            <p:inputText value="#{addClientUI.dependent.email}" id="depEmail"  style="width:100%" required="true"  requiredMessage="Please enter email address"/>
											                     </h:panelGroup>
											                     
											                      <h:panelGroup styleClass="md-inputfield">
																		<small><p:outputLabel value="Relationship with Account Holder"  /></small>
																		<p:selectOneMenu id="relationship" value="#{addClientUI.dependent.relationship}" converter="#{relationshipConvertor}"  style="width:100%" requiredMessage="Select relationship" required="true">
																			<f:selectItem itemLabel="---Select Relationship---" noSelectionOption="true" />
																			<f:selectItems value="#{commonItemUI.selectItemsRelationship}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
																		</p:selectOneMenu>
																  </h:panelGroup>
											                     
											                     <h:panelGroup styleClass="md-inputfield">
											                     	 <p:commandButton value="Add Dependent"  class="btn btn-primary"  update="tableForm mainForm" action="#{addClientUI.addDependent}"/>
											                     	 <p:commandButton class="btn orange-btn" update="mainForm"  icon="fa  fa-recycle" title="clear" value="Clear" process="@this"  action="#{addClientUI.resetDependent}"/>
																
											                     </h:panelGroup>
											                 
											                </p:panelGrid>
											           </div>
											           
											           <div class="box box-default color-palette-box">
														      <h:form id="tableForm">
															    <p:panelGrid columns="1" layout="grid" >
															    	<p:dataTable id="deps" var="var" value="#{addClientUI.dependents}">
															    	
																	    <f:facet name="header">
																	        Dependents
																	        <p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
																	        <p:columnToggler datasource="deps" trigger="toggler" />
																	    </f:facet>    
																	  
																	    
																	    <p:column headerText="Title"  sortBy="#{var.title}">
																	        <h:outputText value="#{var.title.description}"/>
																	    </p:column>
																	    
																	     <p:column headerText="Name" sortBy="#{var.name}">
																	        <h:outputText value="#{var.name}" />
																	    </p:column>
																	 
																	    <p:column headerText="Name" sortBy="#{var.name}">
																	        <h:outputText value="#{var.name}" />
																	    </p:column>
																	 
																	    <p:column headerText="Surname" sortBy="#{var.surname}">
																	        <h:outputText value="#{var.surname}" />
																	    </p:column>
																	    
																	    <p:column headerText="Gender" sortBy="#{var.gender}">
																	        <h:outputText value="#{var.gender.genderName}" />
																	    </p:column>
																	    
																	    <p:column headerText="Relationship" sortBy="#{var.relationship.description}">
																	        <h:outputText value="#{var.relationship.description}" />
																	    </p:column>
																	    
																	     <p:column headerText="Cell Number" sortBy="#{var.cellNumber}">
																	        <h:outputText value="#{var.cellNumber}" />
																	    </p:column>
																	    
																	    <p:column headerText="Email" sortBy="#{var.email}">
																	        <h:outputText value="#{var.email}" />
																	    </p:column>
																	    
																	    <p:column width="90">
																			<p:commandButton class="btn btn-block btn-info btn-xs"  icon="fa fa-database" title="Update" action="#{addClientUI.prepareDependentUpdate}" process="@this" update="mainForm">
																				<f:setPropertyActionListener value="#{var}" target="#{addClientUI.dependent}"  />
																			</p:commandButton>
																			<p:spacer width="5" />
																			<p:commandButton class="btn btn-block orange-btn btn-xs" update="mainForm"  icon="fa fa-trash-o" title="Delete" process="@this"  action="#{addClientUI.removeDependent}">
																				<p:confirm header="Confirm" message="Are you sure you want to delete this gender?" icon="ui-icon-warning" />
																				<f:setPropertyActionListener value="#{var}" target="#{addClientUI.dependent}" />
																			</p:commandButton>
																		</p:column>
																	 
																	</p:dataTable>
																</p:panelGrid>
																</h:form>
														    </div>
											           
											           
											           
										        </p:tab>
										 
										        <p:tab id="funeralPlan" title="Funeral Plan">
										            <div class="box box-default color-palette-box">
												        <div class="box-header with-border">
															<h3 class="box-title"><i class="fa  fa-bank"></i> Funeral Plan</h3>
														</div>
														
														 <p:panelGrid columns="2" layout="grid" >
															 <h:panelGroup styleClass="md-inputfield">
																	<small><p:outputLabel value="Funeral Plan Type"  /></small>
																	<p:selectOneMenu id="relationship1" value="#{addClientUI.funeralPlanType}" converter="#{funeralPlanTypeConvertor}"  style="width:100%" requiredMessage="Select funeral Plan" required="true">
																		<f:selectItem itemLabel="---Select funeral plan---" noSelectionOption="true" />
																		<f:selectItems value="#{commonItemUI.selectItemsFuneralPlanType}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
																		<p:ajax update="mainForm"/>
																	</p:selectOneMenu>
															 </h:panelGroup>
														
															 <h:panelGroup styleClass="md-inputfield" id="planInfoPanel" rendered="#{addClientUI.funeralPlanType ne null}" >
															          <div class="box box-solid">
																            <div class="box-header with-border">
																	              <i class="fa fa-info"></i>
																	              <h3 class="box-title">Funeral Plan Info</h3>
																            </div>
																            <!-- /.box-header -->
																            <div class="box-body">
																            	 <p:panelGrid columns="2" style="width:100%">
																            	 
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Description:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.funeralPlanType.description}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Monthly Payment:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.funeralPlanType.monthlyPlayment}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Max Num Of Dep:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.funeralPlanType.maxNumOfdependent}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Benefits:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText escape="false" value="#{addClientUI.funeralPlanType.benefits}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	
																            	 </p:panelGrid>
																	             
																            </div>
																            <!-- /.box-body -->
															          </div>
													       </h:panelGroup>
												      </p:panelGrid>
														
													</div>
													
													
										        </p:tab>
										        
										        
										        <p:tab id="confirm" title="Confirm Details">
										        <div class="box box-default color-palette-box">
											        <h:panelGroup styleClass="md-inputfield"  rendered="#{addClientUI.funeralPlanType ne null}" >
														 <div class="box box-solid">
															  <div class="box-header with-border">
																<i class="fa fa-bank"></i>
																 <h3 class="box-title">Funeral Plan Details</h3>
															  </div>           
															  <div class="box-body">
											        
													        	<p:panelGrid columns="2" layout="grid" >
													        		<p:panelGrid columns="1" style="width:100%">
																		<h:panelGroup styleClass="md-inputfield">
																			   <small><p:outputLabel value="Description"  /></small>
																		</h:panelGroup>
																		<h:panelGroup styleClass="md-inputfield">
																			 <h:outputText value="#{addClientUI.funeralPlanType.description}" />
																		</h:panelGroup>
																	</p:panelGrid>
																	
																	<p:panelGrid columns="1" style="width:100%">
																		<h:panelGroup styleClass="md-inputfield">
																			   <small><p:outputLabel value="Monthly Payment"  /></small>
																		</h:panelGroup>
																		<h:panelGroup styleClass="md-inputfield">
																			 <h:outputText value="#{addClientUI.funeralPlanType.monthlyPlayment}" />
																		</h:panelGroup>
																	</p:panelGrid>
																	
																	<p:panelGrid columns="1" style="width:100%">
																		<h:panelGroup styleClass="md-inputfield">
																			   <small><p:outputLabel value="Max Number Of Dependents"  /></small>
																		</h:panelGroup>
																		<h:panelGroup styleClass="md-inputfield">
																			 <h:outputText value="#{addClientUI.funeralPlanType.maxNumOfdependent}" />
																		</h:panelGroup>
																	</p:panelGrid>
																	<p:panelGrid columns="1" style="width:100%">
																		<h:panelGroup styleClass="md-inputfield">
																			   <small><p:outputLabel value="Benefits"  /></small>
																		</h:panelGroup>
																		<h:panelGroup styleClass="md-inputfield">
																			<h:outputText escape="false" value="#{addClientUI.funeralPlanType.benefits}" />
																		</h:panelGroup>
																	</p:panelGrid>
													        	</p:panelGrid>
													        	</div>
													        	
													       </div>
													  </h:panelGroup>
												  </div>
											       
										           	 <div class="box box-default color-palette-box">
												        	<div class="box-header with-border">
																 <h3 class="box-title"><i class="fa fa-user"></i> Account Holder Details</h3>
															 </div>
											            
											                <p:panelGrid  class="list-group-item" style="width:100%" columns="2"  rendered="true" layout="grid">
											                 	
											                 	 <h:panelGroup styleClass="md-inputfield">
																		<small><p:outputLabel value="Gender"  /></small>
																		<p:selectOneMenu disabled="true" value="#{addClientUI.accountHolder.gender}" converter="#{genderConvertor}"  style="width:100%" requiredMessage="Select gender" required="true">
																			<f:selectItem itemLabel="---Select Gender---" noSelectionOption="true" />
																			<f:selectItems value="#{commonItemUI.selectItemsGender}" var="rv" itemLabel="#{rv.genderName}" itemValue="#{rv}" />
																		</p:selectOneMenu>
																  </h:panelGroup>
																  
																  <h:panelGroup styleClass="md-inputfield">
																		<small><p:outputLabel value="Title"  /></small>
																		<p:selectOneMenu disabled="true" value="#{addClientUI.accountHolder.title}"  converter="#{titleConvertor}"  style="width:100%" requiredMessage="Select title" required="true">
																			<f:selectItem itemLabel="---Select Title---" noSelectionOption="true" />
																			<f:selectItems value="#{commonItemUI.selectItemsTitle}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
																		</p:selectOneMenu>
																  </h:panelGroup>
																  
																   <h:panelGroup styleClass="md-inputfield">
															   	    <small><p:outputLabel value="Enter ID Number"  /></small>
										                            <p:inputText value="#{addClientUI.accountHolder.rsaId}" disabled="true"   style="width:100%" required="true"  requiredMessage="Please enter id number"/>
											                     </h:panelGroup>
																  
											                 	 <h:panelGroup styleClass="md-inputfield" >
															   	 	 <small><p:outputLabel value="Enter Name"  /></small>
										                            <p:inputText value="#{addClientUI.accountHolder.name}"  disabled="true"  style="width:100%" required="true" requiredMessage="Please enter your name"/>
											                     </h:panelGroup>
											                     
											                      <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Enter Surname" /></small>
										                            <p:inputText value="#{addClientUI.accountHolder.surname}"  disabled="true"  style="width:100%" required="true"  requiredMessage="Please enter your surname"/>
											                     </h:panelGroup>
																				                     
											                      <h:panelGroup styleClass="md-inputfield" >
															   	 	 <small><p:outputLabel value="Enter Cell Number"  /></small>
										                            <p:inputText  value="#{addClientUI.accountHolder.cellNumber}" disabled="true"  style="width:100%" required="true"  requiredMessage="Please enter cell numbere"/>
											                     </h:panelGroup>
											                     
											                      <h:panelGroup styleClass="md-inputfield">
															   	 	 <small><p:outputLabel value="Enter Email" /></small>
										                            <p:inputText value="#{addClientUI.accountHolder.email}" disabled="true" style="width:100%" required="true"  requiredMessage="Please enter email address"/>
											                     </h:panelGroup>
											                     
											                     
											                </p:panelGrid>
											                
											                <p:panelGrid  class="list-group-item" style="width:100%" columns="2"  rendered="true" layout="grid">
											                	 <h:panelGroup styleClass="md-inputfield"  rendered="#{addClientUI.funeralPlanType ne null}" >
															          <div class="box box-solid">
																            <div class="box-header with-border">
																	              <i class="fa fa-map-marker"></i>
																	              <h3 class="box-title">Residential Address</h3>
																            </div>
																            <!-- /.box-header -->
																            <div class="box-body">
																            	 <p:panelGrid columns="2" style="width:100%">
																            	 
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Address Line 1:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.accHolderResidentialAddress.addressLine1}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Address Line 2:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.accHolderResidentialAddress.addressLine2}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Address Line 3:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.accHolderResidentialAddress.addressLine3}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Address Line 4:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText  value="#{addClientUI.accHolderResidentialAddress.addressLine4}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	
																            	 </p:panelGrid>
																	             
																            </div>
																            <!-- /.box-body -->
															          </div>
													       </h:panelGroup>
													       
													        <h:panelGroup styleClass="md-inputfield"  rendered="#{addClientUI.funeralPlanType ne null}" >
															          <div class="box box-solid">
																            <div class="box-header with-border">
																	              <i class="fa fa-map-marker"></i>
																	              <h3 class="box-title">Postal Address</h3>
																            </div>
																            <!-- /.box-header -->
																            <div class="box-body">
																            	 <p:panelGrid columns="2" style="width:100%">
																            	 
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Address Line 1:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.accHolderPostalAddress.addressLine1}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Address Line 2:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.accHolderPostalAddress.addressLine2}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Address Line 3:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText value="#{addClientUI.accHolderPostalAddress.addressLine3}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<small><p:outputLabel value="Address Line 4:"  /></small>
																            	 	</h:panelGroup>
																            	 	<h:panelGroup styleClass="md-inputfield">
																            	 		<h:outputText  value="#{addClientUI.accHolderPostalAddress.addressLine4}" />
																            	 	</h:panelGroup>
																            	 	
																            	 	
																            	 </p:panelGrid>
																	             
																            </div>
																            <!-- /.box-body -->
															          </div>
													       </h:panelGroup>
											                      	
											                </p:panelGrid>
											           </div>
											           
											           <div class="box box-default color-palette-box">
												        	<div class="box-header with-border">
																 <h3 class="box-title"><i class="fa fa-users"></i> Depemdent(s)</h3>
															 </div>
											           
											                   <p:panelGrid columns="1" layout="grid" >
															    	<p:dataTable id="deps" var="var" value="#{addClientUI.dependents}">
															    	
																	    <f:facet name="header">
																	        Dependent(s)
																	    </f:facet>    
																	  
																	    
																	    <p:column headerText="Title"  sortBy="#{var.title}">
																	        <h:outputText value="#{var.title.description}"/>
																	    </p:column>
																	    
																	     <p:column headerText="Name" sortBy="#{var.name}">
																	        <h:outputText value="#{var.name}" />
																	    </p:column>
																	 
																	    <p:column headerText="Name" sortBy="#{var.name}">
																	        <h:outputText value="#{var.name}" />
																	    </p:column>
																	 
																	    <p:column headerText="Surname" sortBy="#{var.surname}">
																	        <h:outputText value="#{var.surname}" />
																	    </p:column>
																	    
																	    <p:column headerText="Gender" sortBy="#{var.gender}">
																	        <h:outputText value="#{var.gender.genderName}" />
																	    </p:column>
																	    
																	    <p:column headerText="Relationship" sortBy="#{var.relationship.description}">
																	        <h:outputText value="#{var.relationship.description}" />
																	    </p:column>
																	    
																	     <p:column headerText="Cell Number" sortBy="#{var.cellNumber}">
																	        <h:outputText value="#{var.cellNumber}" />
																	    </p:column>
																	    
																	    <p:column headerText="Email" sortBy="#{var.email}">
																	        <h:outputText value="#{var.email}" />
																	    </p:column>
																	 
																	</p:dataTable>
																</p:panelGrid>
														
														<br/>
														 <p:panelGrid columns="2" style="width:100%">
														 
														 	<h:panelGroup styleClass="md-inputfield">
														 		<p:commandButton class="btn  btn-info btn-lg" style="float:left" update="mainForm" value="Submit"  icon="fa fa-save" title="submit" process="@this"  action="#{addClientUI.saveClient}"/>
															</h:panelGroup>
														 	
														 	<h:panelGroup styleClass="md-inputfield">
														 		<p:commandButton class="btn  orange-btn btn-lg" style="float:right" update="mainForm" value="Clear"  icon="fa fa-recycle" title="clear" process="@this"  action="#{addClientUI.clearAllClientDate}">
																	<p:confirm header="Confirm" message="Are you sure you want to clear this information?" icon="ui-icon-warning" />
																</p:commandButton>
														 	</h:panelGroup>
														 </p:panelGrid>
														
													   </div>
										        </p:tab>
										 
										   </p:wizard>
										   </h:form>
								 	   		
								 	   </div>
					   			 </div>
					   		 </div>
					 </h:form>
			</section>
    	</ui:define>
    </ui:composition>
</body> 
</html>
