<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags"> 
	
	  <h:head></h:head> 
	   <body>
	   
	   <p:importEnum type="com.pc.entity.enums.UserRolesEnum" />
	   <ui:composition>
		<div class="sidebar" data-color="purple" data-image="#{request.contextPath}/resources/lbd/assets/img/sidebar-5.jpg">
		    <!--
		
		        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
		        Tip 2: you can also add an image using data-image tag
		
		    -->
		
		    	<div class="sidebar-wrapper">
		            <div class="logo">
		                <a href="http://www.creative-tim.com" class="simple-text">
		                    Creative Tim
		                </a>
		            </div>
		
		            <ul class="nav">
		                <li class="active">
		                    <a href="#">
		                        <i class="fa fa-th-large"></i>
		                        <p>Dashboard</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="user.html">
		                        <i class="fa fa-user"></i>
		                        <p>User Profile</p>
		                    </a>
		                </li>
		               
		                <li>
		                    <a href="#">
		                        <i class="fa fa-bell-o"></i>
		                        <p>Notifications</p>
		                    </a>
		                </li>
						
		            </ul>
		    	</div>
		    </div>
					
	</ui:composition>
	   </body> 
</html>
