<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui"> 
   <h:head>
	<meta charset="utf-8"> </meta>
	<link rel="icon" type="image/png" href="assets/img/favicon.ico"></link>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" ></meta>

	<title>webapp</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'></meta>
    <meta name="viewport" content="width=device-width"></meta>


    <!-- Bootstrap core CSS     -->
    <!--  <link href="assets/css/bootstrap.min.css" rel="stylesheet" > -->
    <h:outputStylesheet name="lbd/assets/css/bootstrap.min.css" />

    <!-- Animation library for notifications   -->
    <!-- <link href="assets/css/animate.min.css" rel="stylesheet"/> -->
    <h:outputStylesheet name="lbd/assets/css/animate.min.css" />

    <!--  Light Bootstrap Table core CSS    -->
    <!--  <link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/> -->
    <h:outputStylesheet name="lbd/assets/css/light-bootstrap-dashboard.css?v=1.4.0" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
   <!--  <link href="assets/css/demo.css" rel="stylesheet" /> -->
    <h:outputStylesheet name="lbd/assets/css/demo.css" />


    <!--     Fonts and icons     -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <h:outputStylesheet name="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'> -->
    <h:outputStylesheet name="http://fonts.googleapis.com/css?family=Roboto:400,700,300" />
   <!--  <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" /> -->
    <h:outputStylesheet name="lbd/assets/css/pe-icon-7-stroke.css" />

   </h:head>
<body>

<div class="wrapper">

    <div id="mainSidebar">
		<ui:insert name="mainSidebar" >
			<ui:include src="./commonMainSidebar.xhtml" />
		</ui:insert>
    </div>

    <div class="main-panel">
    
       <div id="header">
			<ui:insert name="header" >
				 <ui:include src="./commonHeader.xhtml" />
			</ui:insert>
	    </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    	   <!-- Global Growl Message -->
					       <p:growl autoUpdate="true" id="msg"  showSummary="false" showDetail="true" sticky="false"></p:growl>
					    
						     <div id="content">
						        <!-- <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />  --> 
							  	<ui:insert name="content" >
							 	  <ui:include src="./commonContent.xhtml" />
							   	</ui:insert>
						    </div>
						    
						    <!-- Global Confirm Dialog -->
						    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="350">
								<p:commandButton value="Yes"  icon="ui-icon-check" />
								<p:commandButton value="No" type="button" icon="ui-icon-close" />
							</p:confirmDialog>
                       
                    </div>
                </div>
            </div>
        </div>

		 <div id="footer">
		    	<ui:insert name="footer" >
		    	  <ui:include src="./commonFooter.xhtml" />
		    	</ui:insert>
	     </div>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <!--  <script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script> -->
    <h:outputScript name="lbd/assets/js/jquery.3.2.1.min.js" />
	<!-- <script src="assets/js/bootstrap.min.js" type="text/javascript"></script> -->
    <h:outputScript name="lbd/assets/js/bootstrap.min.js" />

	<!--  Charts Plugin -->
	<!-- <script src="assets/js/chartist.min.js"></script> -->
	<h:outputScript name="lbd/assets/js/chartist.min.js" />

    <!--  Notifications Plugin    -->
    <!--  <script src="assets/js/bootstrap-notify.js"></script> -->
    <h:outputScript name="lbd/assets/js/bootstrap-notify.js" />

    <!--  Google Maps Plugin    -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
    <h:outputScript name="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE" />

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<!-- <script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script> -->
	<h:outputScript name="lbd/assets/js/light-bootstrap-dashboard.js?v=1.4.0" />

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<!-- <script src="assets/js/demo.js"></script> -->
	<h:outputScript name="lbd/assets/js/demo.js" />

	<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script>

</html>
