<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
xmlns:ui="http://java.sun.com/jsf/facelets" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:f="http://java.sun.com/jsf/core" 
xmlns:p="http://primefaces.org/ui">

 <p:dialog widgetVar="reportedSchoolDialog" position="top" style="margin-top:10px" hideEffect="clip" showEffect="clip" id="reportedSchoolDialog" appendTo="@(body)" modal="true" closable="true" width="90%" height="100%" responsive="true" closeOnEscape="true">
				<f:facet name="header">
		              <h4 class="box-title">Reported School Details</h4>
		        </f:facet>
				<p:scrollPanel   mode="native" style="width:100%;height:600px">
					<h:form id="schoolDialogForm">
							
							<p:panelGrid columns="4" style="width:100%;margin:0px">
								<f:facet name="header">
							        School Details
							    </f:facet>
								<h:panelGroup class="my-line">
									<p style="margin: 0">Institution Name:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.institutionName}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">known As:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.knownAs}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">known As:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.knownAs}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Address Line 1:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.addressLine1}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Address Line 2:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.addressLine2}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Address Line 3:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.addressLine3}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Address Line 4:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.addressLine4}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Post Code:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.postCode}</p>
								</h:panelGroup>
								
							</p:panelGrid>
							<br/>
							<p:panelGrid columns="3" style="width:100%;margin:0px">
								<f:facet name="header">
							        Reporter's Details
							    </f:facet>
								<h:panelGroup class="my-line">
									<p style="margin: 0">Reporter's Name:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.reporterName}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Reporter's Surname:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.reporterSurname}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Reporter's Email:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.reporterEmail}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Reporter's Cell Number:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.reporterCell}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Reported Date:</p>
									 <h:outputText style="margin: 0;color:black;background-color:white" value="#{reportedInstitutionsUI.reportedInstitutions.createDate}">
								        	<f:convertDateTime pattern="dd MMM yyyy" />
								      </h:outputText>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Reference Number:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.refNumber}</p>
								</h:panelGroup>
							</p:panelGrid>
							
							<p:panelGrid columns="1" style="width:100%;margin:0px" rendered="#{not empty reportedInstitutionsUI.reportedInstitutions.additionalInfo}">
								<p style="margin: 0">Additional Information:</p>
								<p:textEditor readonly="true" placeholder="Additional Infomation(Optional)" widgetVar="editor1" value="#{reportedInstitutionsUI.reportedInstitutions.additionalInfo}" height="150" style="margin-bottom:10px">
									 <f:facet name="toolbar">
							             <span class="ql-formats">
							                <button class="ql-bold"></button>
							                <button class="ql-italic"></button>
							                <button class="ql-underline"></button>
							                <button class="ql-strike"></button>
							            </span>
							            <span class="ql-formats">
							                <select class="ql-font"></select>
							                <select class="ql-size"></select>
							            </span>
							        </f:facet>
								</p:textEditor>
							</p:panelGrid>
							<br/>
							<p:panelGrid rendered="#{showInvInfo}" columns="4" style="width:100%;margin:0px">
								<f:facet name="header">
							        Investigation Details
							    </f:facet>
								<h:panelGroup class="my-line">
									<p style="margin: 0">Investigator's Name:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.investigator.name}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Investigator's Surname:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.investigator.surname}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Investigator's Contact:</p>
									<p style="margin: 0;color:black"><b>Email:</b> #{reportedInstitutionsUI.reportedInstitutions.investigator.email}</p>
									<p style="margin: 0;color:black"><b>Phone:</b> #{reportedInstitutionsUI.reportedInstitutions.investigator.cellNumber}</p>
								</h:panelGroup>
								
								<h:panelGroup class="my-line">
									<p style="margin: 0">Report Status:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.status.friendlyName}</p>
								</h:panelGroup>
								
								
							</p:panelGrid>
							
							 <p:panelGrid columns="1" style="width:100%;margin:0px">
                                <f:facet name="header">
							       Investigator's Feedback
							    </f:facet>
							    <h:panelGroup class="my-line" rendered="#{!showInvInfo}">
									<p style="margin: 0">Report Status:</p>
									<p style="margin: 0;color:black">#{reportedInstitutionsUI.reportedInstitutions.status.friendlyName}</p>
								</h:panelGroup>
                                <h:panelGrid columns="1" cellpadding="10"   rendered="#{reportedInstitutionsUI.activeUser.id ne reportedInstitutionsUI.reportedInstitutions.investigator.id}">
						            <h:outputText escape="false" value="#{reportedInstitutionsUI.reportedInstitutions.investigatorFeedback}" />
						            <h:outputText rendered="#{reportedInstitutionsUI.reportedInstitutions.investigatorFeedback eq null}" value="No Feedback Availble" />
						        </h:panelGrid>
						         <h:panelGrid columns="1" cellpadding="10" style="width:100%" rendered="#{reportedInstitutionsUI.activeUser.id eq reportedInstitutionsUI.reportedInstitutions.investigator.id}">
							        <h:panelGroup  >
							        	 <p:outputLabel value="Staus:" /><br/>
										<p:selectOneMenu style="width:50%" value="#{reportedInstitutionsUI.reportedInstitutions.status}" required="true" requiredMessage="Please select status">
											<p:ajax />
											<f:selectItem itemLabel="---Select Status---"  noSelectionOption="true" />
											<f:selectItems value="#{commonItemUI.reportedInstitutionsStatusDD}" var="rv" itemLabel="#{rv.displayName}" itemValue="#{rv}" />
										</p:selectOneMenu>
									</h:panelGroup>
									
									<h:panelGroup >
										 <p:outputLabel value="Please Enter Investigation Outcome" for="feedback" /><br/>
										 <p:textEditor widgetVar="feedback" id="feedback" value="#{reportedInstitutionsUI.reportedInstitutions.investigatorFeedback}" height="150" style="margin-bottom:10px;width:100%">
										 	 <f:facet name="toolbar">
									             <span class="ql-formats">
									                <button class="ql-bold"></button>
									                <button class="ql-italic"></button>
									                <button class="ql-underline"></button>
									                <button class="ql-strike"></button>
									            </span>
									            <span class="ql-formats">
									                <select class="ql-font"></select>
									                <select class="ql-size"></select>
									            </span>
									        </f:facet>
										 </p:textEditor>
									</h:panelGroup>
									
									<h:panelGroup>
										<p:commandButton value="Save" icon="fa fa-save" class="btn btn-primary" update="@form tableForm" actionListener="#{reportedInstitutionsUI.updateReportedInstitutions}"/>
		                            </h:panelGroup>
	                            </h:panelGrid>
						        
						    </p:panelGrid>
						    
						  
					       
					</h:form>
				</p:scrollPanel>
			</p:dialog>

</ui:composition>