$primaryColor:#004B9C;
$primaryLightColor:#192BC2;
$primaryTextColor:#b2dfdb;
$primaryTextHoverColor:#ffffff;
$accentColor:#b0976e;
$accentLightColor:#FFECB3;
$accentTextColor:#000000;
$activeMenuItemTextColor:#449DD1;
$darkActiveMenuItemTextColor:#449DD1;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../sass/layout/_layout';
