<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
                
    <ui:define name="title">Import Schools</ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <h3 class="box-title"><i class="fa fa-th"></i> Import Schools</h3>
                     	 <h:form id="userDetailsForm">			
						 	   <fieldset >
						 	   		   <p:commandButton value="Upload CSV" oncomplete="PF('uploadDialog').show()" update=":uploadDialog"/>
					            
						 	   </fieldset>
					             
						 </h:form>
                </div>
            </div>
        </div>
        
          <div class="card">
                	 <h:form id="tableForm">
                	 	<p:dataTable  var="var" value="#{institutionUI.dataModel}" id="institutionList" rowKey="#{var.id}" paginator="true" rows="15" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
								    <f:facet name="header">
								           <h:outputText value="Gauteng School(s) List" />
								    </f:facet>
								    
								    <p:column headerText="Official Institution Name"  sortBy="#{var.officialInstitutionName}" filterBy="#{var.officialInstitutionName}">
									    <h:outputText value="#{var.officialInstitutionName}"/>
									 </p:column>
								    
								    <p:column headerText="Province"  sortBy="#{var.provinceLookup}" >
									    <h:outputText value="#{var.provinceLookup.description}"/>
									 </p:column>
									 
									 <p:column headerText="Township Village"  sortBy="#{var.townshipVillageLookup}">
									    <h:outputText value="#{var.townshipVillageLookup.description}"/>
									 </p:column>
									 
									 <p:column headerText="Specialisation"  sortBy="#{var.specialisationLookup}">
									    <h:outputText value="#{var.specialisationLookup.description}"/>
									 </p:column>
									 
									 <p:column headerText="Exam Centre"  sortBy="#{var.examCentreLookup}">
									    <h:outputText value="#{var.examCentreLookup.description}"/>
									 </p:column>
									 
									 <p:column headerText="Inst Status"  sortBy="#{var.instStatusEnum}">
									    <h:outputText value="#{var.instStatusEnum.friendlyName}"/>
									 </p:column>
									 
									  <p:column width="120">
										<p:commandButton value="More Info" class="btn btn-block btn-info btn-xs"  icon="fa fa-search-plus" title="More Information"  oncomplete="PF('schoolDialog').show()" process="@this" update="schoolDialog">
											<f:setPropertyActionListener value="#{var}" target="#{institutionUI.institution}" />
										</p:commandButton>
									</p:column>
						</p:dataTable>
                	 </h:form>
               	</div>
        
        <ui:include src="/user/include/institutiondetailsdialog.xhtml"/>
        	
		<p:dialog header="Upload Schools" widgetVar="uploadDialog" hideEffect="clip" showEffect="clip" id="uploadDialog" appendTo="@(body)" modal="true" closable="true" width="60%" height="50%" responsive="true" closeOnEscape="true">
			<h:form id="uploadCSV" enctype="multipart/form-data">
                <p:fileUpload  fileUploadListener="#{gautengSchoolImportUI.uploadSchools}" mode="advanced" allowTypes="/(\.|\/)(csv|CSV)$/" fileLimit="1"
	                   update="@form" immediate="true"  label="Select CSV file to import" auto="true" oncomplete="PF('uploadDialog').hide()"  />
            </h:form>
		</p:dialog>
        
    </ui:define>

</ui:composition>