<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
                
    <ui:define name="title">Reported Institutions</ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <!-- This is used to as display name on the lookups.xhtml -->
					<!--  <displayName>Reported Institutions</displayName> -->
					<h3 class="box-title"><i class="fa fa-th"></i> All Reported School(s)</h3>
					
					<h:form id="mainForm" rendered="false">
							<p:fieldset legend="School Details">
								<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
										<h:panelGroup styleClass="md-inputfield">
										     <p:inputText  id="institutionName" value="#{reportedInstitutionsUI.reportedInstitutions.institutionName}"  style="width:100%" required="true" requiredMessage="Please enter institutionName"/>
											 <p:outputLabel value="Institution Name" for="institutionName" />
										</h:panelGroup>
										
										<h:panelGroup styleClass="md-inputfield">
										     <p:inputText  id="knownAs" value="#{reportedInstitutionsUI.reportedInstitutions.knownAs}"  style="width:100%" required="true" requiredMessage="Please enter knownAs"/>
											 <p:outputLabel value="Known As" for="knownAs" />
										</h:panelGroup>
								</p:panelGrid>
								<p:fieldset legend="School Address">
									<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
										<h:panelGroup styleClass="md-inputfield">
										     <p:inputText  id="addressLine1" value="#{reportedInstitutionsUI.reportedInstitutions.addressLine1}"  style="width:100%" required="true" requiredMessage="Please enter addressLine1"/>
											 <p:outputLabel value="Address Line1" for="addressLine1" />
										</h:panelGroup>
										<h:panelGroup styleClass="md-inputfield">
										     <p:inputText  id="addressLine2" value="#{reportedInstitutionsUI.reportedInstitutions.addressLine2}"  style="width:100%" required="true" requiredMessage="Please enter addressLine2"/>
											 <p:outputLabel value="Address Line2" for="addressLine2" />
										</h:panelGroup>
										<h:panelGroup styleClass="md-inputfield">
										     <p:inputText  id="addressLine3" value="#{reportedInstitutionsUI.reportedInstitutions.addressLine3}"  style="width:100%" required="true" requiredMessage="Please enter addressLine3"/>
											 <p:outputLabel value="Address Line3" for="addressLine3" />
										</h:panelGroup>
										<h:panelGroup styleClass="md-inputfield">
										     <p:inputText  id="addressLine4" value="#{reportedInstitutionsUI.reportedInstitutions.addressLine4}"  style="width:100%" required="true" requiredMessage="Please enter addressLine4"/>
											 <p:outputLabel value="Address Line4" for="addressLine4" />
										</h:panelGroup>
										<h:panelGroup styleClass="md-inputfield">
										     <p:inputText  id="postCode" value="#{reportedInstitutionsUI.reportedInstitutions.postCode}"  style="width:100%" required="true" requiredMessage="Please enter postCode"/>
											 <p:outputLabel value="Post Code" for="postCode" />
										</h:panelGroup>
									</p:panelGrid>
								</p:fieldset>
								<br/>
								<p:textEditor placeholder="Additional Infomation(Optional)" widgetVar="editor1" value="#{reportedInstitutionsUI.reportedInstitutions.additionalInfo}" height="150" style="margin-bottom:10px">
									 <f:facet name="toolbar">
							             <span class="ql-formats">
							                <button class="ql-bold"></button>
							                <button class="ql-italic"></button>
							                <button class="ql-underline"></button>
							                <button class="ql-strike"></button>
							            </span>
							            <span class="ql-formats">
							                <select class="ql-font"></select>
							                <select class="ql-size"></select>
							            </span>
							        </f:facet>
								</p:textEditor>
								
							</p:fieldset>
							<p:fieldset legend="Repoter's Details">
								<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<h:panelGroup styleClass="md-inputfield">
									     <p:inputText  id="reporterName" value="#{reportedInstitutionsUI.reportedInstitutions.reporterName}"  style="width:100%" required="true" requiredMessage="Please enter reporterName"/>
										 <p:outputLabel value="Reporter Name" for="reporterName" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
									     <p:inputText  id="reporterSurname" value="#{reportedInstitutionsUI.reportedInstitutions.reporterSurname}"  style="width:100%" required="true" requiredMessage="Please enter reporterSurname"/>
										 <p:outputLabel value="Reporter Surname" for="reporterSurname" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
									     <p:inputText  id="reporterEmail" value="#{reportedInstitutionsUI.reportedInstitutions.reporterEmail}"  style="width:100%" required="true" requiredMessage="Please enter reporterEmail"/>
										 <p:outputLabel value="Reporter Email" for="reporterEmail" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
									     <p:inputText  id="reporterCell" value="#{reportedInstitutionsUI.reportedInstitutions.reporterCell}"  style="width:100%" required="true" requiredMessage="Please enter reporterCell"/>
										 <p:outputLabel value="Reporter Cell" for="reporterCell" />
									</h:panelGroup>
								 </p:panelGrid>
							 </p:fieldset>
						 <h:panelGroup styleClass="md-inputfield">
						      <br/>
	                          <p:commandButton onstart="PF('loading').show()" oncomplete="PF('loading').hide()" value="Submit" icon="fa fa-save" class="btn btn-primary" update="@form tableForm testFoem" actionListener="#{reportedInstitutionsUI.saveReportedInstitutions}"/>
                 		      <p:spacer width="10"/>
                 			  <p:commandButton value="Clear" process="@this" icon="fa fa-recycle" class="btn orange-btn" update="@form" actionListener="#{reportedInstitutionsUI.reset}"/>
                		</h:panelGroup>
					 </h:form>
                </div>
                
                <div class="card">
                	 <h:form id="tableForm">
                	 	<p:dataTable  var="var" value="#{reportedInstitutionsUI.dataModel}" id="reportedInstitutionsList" rowKey="#{var.id}" paginator="true" rows="5" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25,30,35,40,45,50,55,60,65,75,100" reflow="true" lazy="true">
								    <f:facet name="header">
								           <h:outputText value="Reported Institutions List" />
								    </f:facet>
									 
									 <p:column headerText="Institution Name"  sortBy="#{var.institutionName}" filterBy="#{var.institutionName}">
									    <h:outputText value="#{var.institutionName}"/>
									 </p:column>

									<p:column headerText="Known As"  sortBy="#{var.knownAs}" filterBy="#{var.knownAs}">
									    <h:outputText value="#{var.knownAs}"/>
									 </p:column>

									<p:column headerText="Reporter Name"  sortBy="#{var.reporterName}" filterBy="#{var.reporterName}">
									    <h:outputText value="#{var.reporterName}"/>
									 </p:column>
									 
									<p:column headerText="Reporter Email"  sortBy="#{var.reporterEmail}" filterBy="#{var.reporterEmail}">
									    <h:outputText value="#{var.reporterEmail}"/>
									 </p:column>

									<p:column headerText="Reporter Cell"  sortBy="#{var.reporterCell}" filterBy="#{var.reporterCell}">
									    <h:outputText value="#{var.reporterCell}"/>
									 </p:column>
									 
									<p:column headerText="Reporter Surname"  sortBy="#{var.reporterSurname}" filterBy="#{var.reporterSurname}">
									    <h:outputText value="#{var.reporterSurname}"/>
									 </p:column>
									 
									 <p:column headerText="Ref Number"  sortBy="#{var.refNumber}" filterBy="#{var.refNumber}">
									    <h:outputText value="#{var.refNumber}"/>
									 </p:column>

									<p:column headerText="Status"  filterBy="#{var.status}">
									    <h:outputText value="#{var.status}"/>
									 </p:column>
									 
								    <p:column headerText="Reporeted Date"  sortBy="#{var.createDate}">
								        <h:outputText value="#{var.createDate}">
								        	<f:convertDateTime pattern="dd MMM yyyy" />
								        </h:outputText>
								    </p:column>

								    <p:column width="45">
										<p:commandButton oncomplete="PF('reportedSchoolDialog').show()" class="btn btn-block btn-info btn-xs"  icon="fa fa-search" title="View Details" process="@this" update="reportedSchoolDialog">
											<f:setPropertyActionListener value="#{var}" target="#{reportedInstitutionsUI.reportedInstitutions}" />
										</p:commandButton>
									</p:column>
							</p:dataTable>
                	 </h:form>
                </div>
            </div>
        </div>
		<ui:include src="/admin/include/institutiondetailsdialog.xhtml">
			<ui:param name="showInvInfo" value="true" />
		</ui:include>
    </ui:define>
    
 <!--    <p:column headerText="Address Line1"  sortBy="#{var.addressLine1}" filterBy="#{var.addressLine1}" rendered="false">
	    <h:outputText value="#{var.addressLine1}"/>
	 </p:column>
	 
	 <p:column headerText="Address Line2"  sortBy="#{var.addressLine2}" filterBy="#{var.addressLine2}" rendered="false">
	    <h:outputText value="#{var.addressLine2}"/>
	 </p:column>
	 
	 <p:column headerText="Address Line3"  sortBy="#{var.addressLine3}" filterBy="#{var.addressLine3}" rendered="false">
	    <h:outputText value="#{var.addressLine3}"/>
	 </p:column>

	<p:column headerText="Address Line4"  sortBy="#{var.addressLine4}" filterBy="#{var.addressLine4}" rendered="false">
	    <h:outputText value="#{var.addressLine4}"/>
	 </p:column>
	 
	 <p:column headerText="Investigator Feedback"  sortBy="#{var.investigatorFeedback}" filterBy="#{var.investigatorFeedback}" rendered="false">
	    <h:outputText value="#{var.investigatorFeedback}"/>
	 </p:column>
	  
	 <p:column headerText="Investigator"  sortBy="#{var.investigator}" filterBy="#{var.investigator}" rendered="false">
	    <h:outputText value="#{var.investigator}"/>
	 </p:column>
	
	<p:column headerText="Post Code"  sortBy="#{var.postCode}" filterBy="#{var.postCode}" rendered="false">
	    <h:outputText value="#{var.postCode}"/>
	 </p:column>
	 
	    <p:column headerText="Last Update Date"  sortBy="#{var.lastUpdateDate}" rendered="false">
        <h:outputText value="#{var.lastUpdateDate}">
        	<f:convertDateTime pattern="dd MMM yyyy" />
        </h:outputText>
         <h:outputText value="N/A" rendered="#{var.lastUpdateDate eq null}"/>
    </p:column>
    
    <p:column headerText="Last Update User"  sortBy="#{var.lastUpdateUser}" rendered="false">
        <h:outputText value="#{var.lastUpdateUser.name} #{var.lastUpdateUser.surname}"/>
        <h:outputText value="N/A" rendered="#{var.lastUpdateUser eq null}"/>
    </p:column> -->
									 

</ui:composition>
