<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui"> 
   <h:head>
  <title>Company Consulting</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
  <!-- Bootstrap 3.3.7 -->
  <h:outputStylesheet name="AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  
  <!-- Font Awesome -->
  <h:outputStylesheet name="AdminLTE/bower_components/font-awesome/css/font-awesome.min.css" />
  
  <!-- Ionicons -->
  <h:outputStylesheet name="AdminLTE/bower_components/Ionicons/css/ionicons.min.css" />
  
  <!-- Theme style -->
  <h:outputStylesheet name="AdminLTE/dist/css/AdminLTE.min.css" />
  
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <!--  <link rel="stylesheet" href="/AdminLTE/dist/css/skins/_all-skins.min.css"></link> -->
  <h:outputStylesheet name="AdminLTE/dist/css/skins/_all-skins.min.css" />
  
  <!-- Morris chart -->
  <h:outputStylesheet name="AdminLTE/bower_components/morris.js/morris.css" />
  
  <!-- jvectormap -->
  <h:outputStylesheet name="AdminLTE/bower_components/jvectormap/jquery-jvectormap.css" />
  
  <!-- Date Picker -->
  <!--  <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"></link> -->
  
  <!-- Daterange picker -->
  <!--   <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css"></link> -->
  
  <!-- bootstrap wysihtml5 - text editor -->
  <h:outputStylesheet name="AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
  
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"></link>
  
  <!-- Pace style -->
  <h:outputStylesheet name="AdminLTE/plugins/pace/pace.min.css" />

</h:head> 


    <!-- <body class="hold-transition skin-blue sidebar-mini">  -->
    <body class="hold-transition #{commonUI.theme} fixed sidebar-mini">
		<div id="page" class="wrapper">
			
		   <div id="header">
				<ui:insert name="header" >
				  	<ui:include src="./commonHeader.xhtml" />
				</ui:insert>
		    </div>
		    
		    <div id="mainSidebar">
				<ui:insert name="mainSidebar" >
					<ui:include src="./commonMainSidebar.xhtml" />
				</ui:insert>
		    </div>
		    
		    <div class="content-wrapper">
		    
		    <!-- Global Growl Message -->
		    <p:growl autoUpdate="true" id="msg"  showSummary="false" showDetail="true" sticky="false"></p:growl>
		    
			    <div id="content">
			        <!-- <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />  --> 
				  	<ui:insert name="content" >
				 	  <ui:include src="./commonContent.xhtml" />
				   	</ui:insert>
			    </div>
			    
			    <!-- Global Confirm Dialog -->
			    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="350">
					<p:commandButton value="Yes" styleClass="ui-confirmdialog-yes btn btn-success btn-xs" icon="ui-icon-check" />
					<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no btn orange-btn btn-xs" icon="ui-icon-close" />
				</p:confirmDialog>
				
				<!-- Global loading Dialog -->
				<p:dialog widgetVar="loading" hideEffect="clip" showEffect="clip" id="loading" appendTo="@(body)" modal="true" closable="true" width="25%" height="25%" responsive="true" closeOnEscape="true">
					 <div class="col-md-12">
						  <div>
						 	<div class="overlay">
					              <i class="fa fa-spinner fa-spin " style="size: 100%;"></i> Loading, Please wait...
					         </div>
					       </div>
				       </div>
				</p:dialog>
			    
		    </div>
			    
		    <div id="footer">
		    	<ui:insert name="footer" >
		    	  <ui:include src="./commonFooter.xhtml" />
		    	</ui:insert>
	    	 </div>
	    	 
	    	<!--  <div id="controlSidebar">
		    	<ui:insert name="controlSidebar" >
		    	  <ui:include src="./commonControlSidebar.xhtml" />
		    	</ui:insert>
	    	 </div> -->
	
	      </div>
<!-- ******************************************./wrapper ********************************************** -->  

<!-- jQuery 3 -->
<!--  <h:outputScript name="AdminLTE/bower_components/jquery/dist/jquery.min.js" /> -->

<!-- jQuery UI 1.11.4 -->
<!-- <h:outputScript name="AdminLTE/bower_components/jquery-ui/jquery-ui.min.js" /> -->

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>

<!-- Bootstrap 3.3.7 -->
<h:outputScript name="AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js" />

<!-- Morris.js charts -->
<h:outputScript name="AdminLTE/bower_components/raphael/raphael.min.js" />
<h:outputScript name="AdminLTE/bower_components/morris.js/morris.min.js" />

<!-- Sparkline -->
<h:outputScript name="AdminLTE/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js" />

<!-- jvectormap -->
<h:outputScript name="AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" />
<h:outputScript name="AdminLTE/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" />

<!-- jQuery Knob Chart -->
<h:outputScript name="AdminLTE/bower_components/jquery-knob/dist/jquery.knob.min.js" />

<!-- daterangepicker -->
<h:outputScript name="AdminLTE/bower_components/moment/min/moment.min.js" />
<h:outputScript name="AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js" />

<!-- datepicker -->
<!-- <script src="/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script -->
<!-- Bootstrap WYSIHTML5 -->
<h:outputScript name="AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" />

<!-- Slimscroll -->
<h:outputScript name="AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" />

<!-- FastClick -->
 <h:outputScript name="AdminLTE/bower_components/fastclick/lib/fastclick.js" />

<!-- AdminLTE App -->
 <h:outputScript name="AdminLTE/dist/js/adminlte.min.js" />

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
 <h:outputScript name="AdminLTE/dist/js/pages/dashboard.js" />
 
<!-- AdminLTE for demo purposes -->
 <h:outputScript name="AdminLTE/dist/js/demo.js" /> 
 
 <!-- PACE -->  
 <h:outputScript name="AdminLTE/bower_components/PACE/pace.min.js" />
 
 <script type="text/javascript">
  // To make Pace works on Ajax calls
  $(document).ajaxStart(function () {
    Pace.restart()
  })
  $('.ajax').click(function () {
    $.ajax({
      url: '#', success: function (result) {
       /*  $('.ajax-content').html('<hr/>Ajax Request Completed !') */
      }
    })
  })
</script>

    </body> 
</html>
